@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<main class="content">

    <h1 class="animated-title">QUẢN LÝ SẢN PHẨM</h1>

    <div class="quanlysanpham">

        <div class="container-trangchu-admin">
            <h1 class="animated-title">ĐĨA THAN</h1>
            <a href="/admin/vinyl"><img src="/image/quanlydiathan.png" alt=""></a>
        </div>

        <div class="container-trangchu-admin">
            <h1 class="animated-title">ĐẦU ĐĨA</h1>
            <a href="/admin/recordplayer"><img src="/image/qlydaudiathan.png" alt=""></a>
        </div>

        <div class="container-trangchu-admin">
            <h1 class="animated-title">PHỤ KIỆN</h1>
            <a href="/admin/accessories"><img src="/image/qlyphukien.png" alt=""></a>
        </div>

    </div>

    <div class="line"></div>

    <h1>QUẢN LÝ THÔNG TIN</h1>

    <div class="quanlythongtin">


        <div class="container-trangchu-admin">
            <h1 class="animated-title">QUẢN LÝ KHÁCH HÀNG</h1>
            <a href="/admin/customers"><img src="/image/qlykhachhang.png" alt=""></a>
        </div>

        <div class="container-trangchu-admin">
            <h1 class="animated-title">QUẢN LÝ ĐƠN HÀNG</h1>
            <a href="/admin/orders"><img src="/image/qlydonhang.png" alt=""></a>
        </div>

    </div>

    <div class="line"></div>

    <h1>QUẢN LÝ BÀI VIẾT</h1>

    <div class="quanlyblog">
        <div class="container-trangchu-admin">
            <h1 class="animated-title">QUẢN LÝ BÀI VIẾT</h1>
            <a href=""><img src="/image/qlybaiviet.png" alt=""></a>
        </div>
    </div>
    </div>

</main>
