@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<main class="content">   

    <h1>QUẢN LÝ SẢN PHẨM</h1>

    <div class="quanlysanpham">

        <div class="container-trangchu-admin">
            <a href=""><img src="/image/quanlydiathan.png" alt=""></a>
        </div>

        <div class="container-trangchu-admin">
            <a href=""><img src="/image/quanlydaudia.png" alt=""></a>
        </div>
        
        <div class="container-trangchu-admin">
            <a href=""><img src="/image/quanlyphukien.png" alt=""></a>
        </div>

    </div>

    <div class="line"></div>
    
<h1>QUẢN LÝ THÔNG TIN</h1>

    <div class="quanlythongtin">


        <div class="container-trangchu-admin">
            <a href=""><img src="/image/quanlykhachhang.png" alt=""></a>
        </div>

        <div class="container-trangchu-admin">
            <a href=""><img src="/image/quanlydonhang.png" alt=""></a>
        </div>        

    </div>

    <div class="line"></div>

    <h1>QUẢN LÝ BÀI VIẾT</h1>



<div class="quanlyblog">
        <div class="quanlybaiviet">
            <a href=""><img src="/image/quanlyblog.png" alt=""></a>
        </div>       
</div>
    </div>
    
</main>
