<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MuseMusic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
        integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Categories.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MuseMusic.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Views/Shared/_Adminlayout.css" asp-append-version="true" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="./favicon.png" />
    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Template  -->
    <link href="css/templatemo_style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link href="css/templatemo_style.css" rel="stylesheet">
</head>

<body>
    <div class="box">
        <div class="group">
            <div class="overlap">
                <div class="rectangle"></div>
                <div class="overlap-group-wrapper">
                    <div class="overlap-group">
                        <img class="vector" src="img/image.svg" />
                        <img class="user-circle-single"
                            src="img/user-circle-single-circle-geometric-human-person-single-user.png" />
                        <div class="text-wrapper">Reno</div>
                    </div>
                </div>
                <img class="img" src="img/rectangle-21.png" />
                <div class="div"></div>
                <div class="group-2">
                    <div class="text-wrapper-2">Quản lý khách hàng</div>
                    <div class="text-wrapper-3">Quản lý đơn hàng</div>
                    <div class="text-wrapper-4">Quản lý bài viết</div>
                    <div class="group-3">
                        <div class="text-wrapper-5">Quản lý sản phẩm</div>
                        <img class="vector-2" src="img/vector.svg" />
                    </div>
                </div>
                <div class="text-wrapper-6">ADMINISTRATOR</div>
            </div>
        </div>
    </div>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            <div class="footer-content">
                <a href="Index" title="MuseMusic - Better Music Experience" rel="home">
                    <img class="img-responsive standard-logo retina-logo" src="/image/logo.png"></a>
                <p>Trải nghiệm âm nhạc của riêng bạn</p>
                <div class="bottom-bar">21CDP2 -- HAU</div>
            </div>
            <div class="footer-content">
                <p class="title">THÔNG TIN</p>
                <div class="line"></div>
                <ul class="list">
                    <li><a href="">Về chúng tôi</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <p class="title">TRỢ GIÚP</p>
                <div class="line"></div>
                <ul class="list">

                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Cửa hàng</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <p class="title">LIÊN HỆ</p>
                <div class="line"></div>
                <ul class="list">
                    <p> <i class="fa-solid fa-house"></i> P. Văn Quán, Hà Đông, Hà Nội</p>
                    <p><i class="fa-solid fa-envelope"></i> phamtheanh3628@gmail.com</p>
                    <p><i class="fa-solid fa-phone"></i> 0862 935 291</p>
                </ul>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.singlePageNav.min.js"></script>
    <script src="js/unslider.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="js/templatemo_script.js"></script>
</body>

</html>