/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Nguyễn Tài Thu */
.header-wrapper {
  position: relative;
  z-index: 9999;
}

@media (min-width: 992px) {
  .header-wrapper {
    z-index: 999 !important;
  }
}

.header-wrapper {
  background-color: transparent;
}

.header-wrapper {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div {
  display: block;
  unicode-bidi: isolate;
}

#header,
#header .header-main .header-contact .nav-top>li>a,
#header .top-links>li.menu-item:before {
  color: #222529;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  display: block;
  unicode-bidi: isolate;
}

#header.header-loaded .header-main {
  -webkit-backface-visibility: hidden;
}

#header .header-main {
  background: #121619 !important;
  color: #fff;
}

#header .header-main {
  background-color: transparent;
}

#header .header-main {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div {
  display: block;
  unicode-bidi: isolate;
}

#header .header-main .container {
  min-height: 68px;
}

#header .header-top .container,
#header .header-main .container {
  position: relative;
  display: table;
}

#header .container {
  /* width: calc(100% - 100px) !important; */
  min-height: 55px !important;
}

.container {
  max-width: 1160px !important;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {

  .container,
  .container-fluid .elementor-top-section>.elementor-container,
  .elementor-top-section.elementor-section.elementor-section-boxed>.elementor-container {
    padding-left: 4.27vw;
    padding-right: 4.27vw;
    max-width: none;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

div {
  display: block;
  unicode-bidi: isolate;
}

/* test */
.header-center .searchform{
  position: absolute;
  width: 650px;
  height: 37px;
  top: 64px;
  left: 635px;
  background-color: #f0f0f0;
  border-radius: 30px;
}

#header .header-top .container>div,
#header .header-main .container>div {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

.header-center {
  text-align: left;
  padding: 0;
  width: 650px;
  height: 37px;
}

#header .header-main .header-right {
  padding-bottom: 0 !important;
}

.header-right {
  width: 405px;
  padding-top: 10px ! IMPORTANT;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #161616;
  color: #fff;
  padding: 30px 0px 10px;
  font-size: 15;
  font-family: Inter;
  display: flex;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Chuyển sang dạng cột khi màn hình nhỏ */
    text-align: center;
  }
  .footer-content {
    width: 100%; /* Chiếm toàn bộ chiều rộng */
  }
}

.container{
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.text{
  color: #FFF;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.footer-content{
  width: 25%;
}

.h3{
  color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.footer-content p{
  width: 250px;
  text-align: left;
}

.footer-content ul{
    text-align: left;
   }

.list{
  padding-top: 10px;
  padding-left: 0px;
}

.list li{
  width: auto;
  text-align: left;
  padding: 5px;
  position: relative;
}

.list li::before{
content: '';
position: absolute;
transform: translate(-50%, -5%);
left: 50%;
top: 100%;
width: 0;
height: 2px;
background: #0077cc;
transition-duration: .5s;
}

.list li::hover::before{
  width: 70px;
}

.bottom-bar{
  font-size: 16px;
  padding: 30px;
  padding-left: 0px;
  padding-right: 0%;
}

a{
  text-decoration: none;
  color: #fff;
}

.line{
  width: 250px;
  height: 1px;
  background-color: #fff;

}

.title{
  color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 10px;
padding-left: 0px;
text-align: left;
}