<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MuseMusic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
        integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cus.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/history.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/wis.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bank.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/camera.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/templatemo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Vinyl.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/vinyl-detail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MuseMusic.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Views/Shared/_Adminlayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/BlogDetail_style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MusicGenre_style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MusicMood_style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MusicEra_style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/OrderDetail_style.css" asp-append-version="true" />  
    <link rel="stylesheet" href="~/css/accessory-detail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/accessory.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/icofont.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/record-player.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/record-playerdetail.css" asp-append-version="true" />



    <!-- Favicon-->
    <link rel="shortcut icon" href="./favicon.png" />
    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Template  -->
    <link href="css/templatemo_style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link href="css/templatemo_style.css" rel="stylesheet">
</head>

<body>
    <div class="header-wrapper">
        <header id="header" class="header-5 header-loaded">
            <div class="header-main">
                <div class="container">
                    <div class="header-left">
                        <h1 class="logo">
                            <a href="/" title="MuseMusic - Better Music Experience">
                                <img class="imglogo" src="/image/logo.png">
                            </a>
                        </h1>
                    </div>
                    <div class="header-center">
                        <div class="search-bar">
                            <input type="text" placeholder="Tìm kiếm...">
                            <label for="" class="icon">
                                <i class="fas fa-search">

                                </i>
                            </label>
                            </a>
                        </div>
                    </div>
                    <div class="header-right">
                        <div class="button">
                            <a href="/Login/Login"> <button class="btn"> ĐĂNG NHẬP </button> </a>
                            @* Giỏ hàng level Max (dont xóa) *@
                            @* <div class="teks-list colorgb-list">
                                <div id="mini-cart" class="mini-cart minicart-arrow-alt">
                                    <div class="cart-head ">
                                        <span class="cart-icon"><i class="fas fa-shopping-cart"></i><span
                                                class="cart-items">0</span></span><span class="cart-items-text ">0
                                            items</span>
                                    </div>
                                    <div class="cart-popup widget_shopping_cart">
                                        <div class="widget_shopping_cart_content">
                                            <div class="total-count"><span>0 ITEMS</span><a class="pull-right"
                                                    href="#">Xem giỏ hàng</a></div>
                                            <div class="scroll-wrapper cart_list product_list_widget scrollbar-inner"
                                                style="position: relative;">
                                                <ul class="cart_list product_list_widget scrollbar-inner scroll-content"
                                                    style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 0px;">

                                                    <li class="woocommerce-mini-cart__empty-message empty">
                                                        Chưa có sản phẩm trong giỏ hàng. </li>
                                                </ul>
                                                <div class="scroll-element scroll-x">
                                                    <div class="scroll-element_outer">
                                                        <div class="scroll-element_size"></div>
                                                        <div class="scroll-element_track"></div>
                                                        <div class="scroll-bar"></div>
                                                    </div>
                                                </div>
                                                <div class="scroll-element scroll-y">
                                                    <div class="scroll-element_outer">
                                                        <div class="scroll-element_size"></div>
                                                        <div class="scroll-element_track"></div>
                                                        <div class="scroll-bar"></div>
                                                    </div>
                                                </div>
                                            </div><!-- end product list -->
                                        </div>
                                    </div>
                                </div> *@
                            <div class="cart-icon-container">
                                <div class="cart-icon">
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                                <div class="cart-dropdown">
                                    <p class="text">
                                    <h1>ITEM</h1>
                                    <div class="horizontal-line"></div>
                                    <h3>Chưa có sản phẩm trong giỏ</h3>
                                    <div class="horizontal-line"></div>
                                    </p>
                                    <div id="cart-items" class="cart-items"></div>
                                    <div class="cart-actions">
                                        <button class="view-cart">Xem giỏ hàng</button>
                                        <button class="checkout">Thanh toán</button>
                                    </div>
                                </div>
                            </div>
                            <div class="whislist">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </header>
    </div>
    @* Thanh navbar *@
    <div class="navbar-header">
        <ul>
            <li><a href="/">TRANG CHỦ</a></li>
            <li><a href="/Home/Vinyl">ĐĨA THAN <i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-diathan">
                    <ul>                      
                        <ul>
                            <li><a href="/Home/MusicGenre">TÌM KIẾM THEO THỂ LOẠI</a></li>
                            <li><a href="">TÌM KIẾM THEO NGHỆ SĨ</a></li>
                            <li><a href="/Home/MusicMood">TÌM KIẾM THEO TÂM TRẠNG</a></li>
                            <li><a href="/Home/MusicEra">TÌM KIẾM THEO THỜI KỲ</a></li>
                            <li><a href="/Home/Vinyl">XEM TẤT CẢ</a></li>
                        </ul>
                </div>
            </li>
            <li><a href="/Home/Record_Player">ĐẦU ĐĨA</a></li>
            <li><a href="/Home/Accessories">PHỤ KIỆN</a></li>
            <li><a href="/Home/AboutUs">ABOUT US</a></li>
            <li><a href="/Home/BlogList">BLOG</a></li>
        </ul>
    </div>


    <main>
        @RenderBody()
    </main>


    <footer>
        <div class="container">
            <div class="footer-content-logo">
                <a href="Index" title="MuseMusic - Better Music Experience" rel="home">
                    <img class="img-responsive standard-logo retina-logo" src="/image/logo.png"></a>
                <a>
                    <p class="title-logo">Muse</p>
                    <p>Trải nghiệm âm nhạc của riêng bạn</p>
                </a>
                <div class="bottom-bar">21CDP2 -- HAU</div>
            </div>
            <div class="footer-content">
                <p class="title">THÔNG TIN</p>
                <div class="line"></div>
                <ul class="list">
                    <li><a href="">Về chúng tôi</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <p class="title">TRỢ GIÚP</p>
                <div class="line"></div>
                <ul class="list">

                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Cửa hàng</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <p class="title">LIÊN HỆ</p>
                <div class="line"></div>
                <ul class="list">
                    <p> <i class="fa-solid fa-house"></i> P. Văn Quán, Hà Đông, Hà Nội</p>
                    <p><i class="fa-solid fa-envelope"></i> phamtheanh3628@gmail.com</p>
                    <p><i class="fa-solid fa-phone"></i> 0862 935 291</p>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.singlePageNav.min.js"></script>
    <script src="js/unslider.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="js/templatemo_script.js"></script>
</body>

</html>