<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MuseMusic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
        integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MuseMusic.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"/>
</head>

<body>
    <div class="header-wrapper">
        <header id="header" class="header-5 header-loaded">
            <div class="header-main">
                <div class="container">
                    <div class="header-left">
                        <h1 class="logo logo-transition">
                            <a href="Index" title="MuseMusic - Better Music Experience" rel="home">
                                <img class="img-responsive standard-logo retina-logo" src="/image/logo.png">
                            </a>
                        </h1>
                    </div>
                    <div class="header-center">
                        <form action="#" method="get" class="searchform">
                            <div class="searchform-fields">
                                <span class="text"><input name="s" type="text" value=""
                                        placeholder="Tìm kiếm" autocomplete="off"></span>
                                <input type="hidden" name="post_type" value="product">
                                <span class="button-wrap">
                                    <button class="btn btn-special" title="Search" type="submit"><i
                                            class="fas fa-search"></i></button>
                                    <div class="pull-left">
                                        <div class="searchform-popup"><a class="search-toggle"><i
                                                    class="fas fa-search"></i><span
                                                    class="search-text">Search</span></a>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="header-right">
                        <div>
                            <div class="teks-list colorgb-list">
                                <div id="mini-cart" class="mini-cart minicart-arrow-alt">
                                    <div class="cart-head ">
                                        <span class="cart-icon"><i class="fas fa-shopping-cart"></i><span
                                                class="cart-items">0</span></span><span class="cart-items-text ">0
                                            items</span>
                                    </div>
                                    <div class="cart-popup widget_shopping_cart">
                                        <div class="widget_shopping_cart_content">
                                            <div class="total-count"><span>0 ITEMS</span><a class="pull-right"
                                                    href="#">Xem giỏ hàng</a></div>
                                            <div class="scroll-wrapper cart_list product_list_widget scrollbar-inner"
                                                style="position: relative;">
                                                <ul class="cart_list product_list_widget scrollbar-inner scroll-content"
                                                    style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 0px;">

                                                    <li class="woocommerce-mini-cart__empty-message empty">
                                                        Chưa có sản phẩm trong giỏ hàng. </li>
                                                </ul>
                                                <div class="scroll-element scroll-x">
                                                    <div class="scroll-element_outer">
                                                        <div class="scroll-element_size"></div>
                                                        <div class="scroll-element_track"></div>
                                                        <div class="scroll-bar"></div>
                                                    </div>
                                                </div>
                                                <div class="scroll-element scroll-y">
                                                    <div class="scroll-element_outer">
                                                        <div class="scroll-element_size"></div>
                                                        <div class="scroll-element_track"></div>
                                                        <div class="scroll-bar"></div>
                                                    </div>
                                                </div>
                                            </div><!-- end product list -->
                                        </div>
                                    </div>
                                </div>
                                <div class="teks-user"><i class="far fa-user"></i>
                                    <ul>
                                        <li><a href="/wishlist/"><i class="fas fa-heart"></i> Wishlist</a></li>
                                        <li><a href="/theo-doi-don-hang/"><i class="fa fa-shopping-basket"></i> Theo
                                                dõi
                                                đơn hàng</a></li>
                                        <li><a href="/tai-khoan-cua-toi/edit-account/"><i class="fa fa-user-circle"></i>
                                                Đăng nhập/Đăng ký</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <main>
        @RenderBody()
    </main>

   <footer>
    <div class="container">
        <div class="footer-content">
            <a href="Index" title="MuseMusic - Better Music Experience" rel="home">
                <img class="img-responsive standard-logo retina-logo" src="/image/logo.png"></a>
            <p>Trải nghiệm âm nhạc của riêng bạn</p>
            <div class="bottom-bar">21CDP2 -- HAU</div>
        </div>
        <div class="footer-content">
<p class="title">THÔNG TIN</p>
<div class="line"></div>
<ul class="list">
    <li><a href="">Về chúng tôi</a></li>
    <li><a href="">Blog</a></li>
</ul>
        </div>
        <div class="footer-content">
  <p class="title">TRỢ GIÚP</p>
            <div class="line"></div>
<ul class="list">
   
    <li><a href="">Trang chủ</a></li>
    <li><a href="">Cửa hàng</a></li>
    <li><a href="">Liên hệ</a></li>
</ul>
        </div>
        <div class="footer-content">
<p class="title">LIÊN HỆ</p>
            <div class="line"></div>
        <ul class="list">
            <p> <i class="fa-solid fa-house"></i>   P. Văn Quán, Hà Đông, Hà Nội</p>
            <p><i class="fa-solid fa-envelope"></i>   phamtheanh3628@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i>   0862 935 291</p>
        </ul></div>
    </div>
   </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>