@{
    Layout = "~/Views/Shared/_LayoutLost.cshtml";
}
<main>
   
     <video class="video-background" autoplay muted loop>
        <source src="/image/mix.mp4" type="video/mp4">
    </video>
   <div class="login-container">
    <div class="logo">
        <img src="/image/muselogo.png" alt="Logo Muse">
    </div>
    <h1>Kiểm tra hòm thư của bạn đê!</h1>
        <form class="login-form">
            <label for="email">Chúng tôi đã gửi email cho bạn. Hãy làm theo hướng dẫn để truy cập lại tài khoản</label>

            <label for="password">Nhập mã</label>
            <input type="password" id="password" placeholder="Mật khẩu" />

            <button type="submit">Tiếp theo</button>

           
        </form>
    </div>
</main>