@{
    Layout = "~/Views/Shared/_LayoutLost.cshtml";
}
<main>
   
     <video class="video-background" autoplay muted loop>
        <source src="/image/mix.mp4" type="video/mp4">
    </video>
    @* <div class="login-container">
    <div class="logo">
        <img src="/image/muselogo.png" alt="Logo Muse">
    </div>
    <h1>Kiểm tra hòm thư của bạn đê!</h1>
        <form class="login-form">
            <label for="email">Chúng tôi đã gửi email cho bạn. Hãy làm theo hướng dẫn để truy cập lại tài khoản</label>

            <label for="password">Nhập mã</label>
             <input type="email" id="email" placeholder="Mã PIN" />

            <button type="submit">Tiếp theo</button>
        </form>
    </div>  *@
    <div class="login-container">
    <div class="logo">
        <img src="/image/muselogo.png" alt="Logo Muse">
    </div>
    <h1>Đặt lại mật khẩu- Quay lại cuộc chơi</h1>
        <form class="login-form">
            <label for="email">Nhập địa chỉ email hoặc tên người dùng liên kết với tài khoản Muse của bạn để bọn tao gửi email cho bạn.</label>

            <label for="password">Nhập email</label>
             <input type="email" id="email"  />

            <button type="submit">Tiếp theo</button>
        </form>
    </div> 
 @* <div class="login-container">
    <div class="logo">
        <img src="/image/muselogo.png" alt="Logo Muse">
    </div>
    <h1>Đặt lại mật khẩu-Skrrrrrrrr</h1>
        <form class="login-form">
            <label for="email">Chúng tôi đã gửi email cho bạn. Hãy làm theo hướng dẫn để truy cập lại tài khoản</label>

            <label for="password">Tạo mật khẩu</label>
             <input type="email" id="email" placeholder="Mật khẩukhẩu" />
            <label for="email">Mật khẩu phải có ít nhất</label>
    <ul>
        <li>1 chữ cái</li>
        <li>1 chữ số or kí tự đặc biệt</li>
        <li>10 ký tự</li>
    </ul>
<label for="password">Mật khẩu</label>
                <input type="password" id="password" placeholder="Mật khẩu" />
            <button type="submit">Tiếp theo</button>
        </form>
    </div> *@

    
</main>