@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
<main>
   
     <video class="video-background" autoplay muted loop>
        <source src="/image/mix.mp4" type="video/mp4">
    </video>
   <div class="login-container">
    <div class="logo">
        <img src="/image/muselogo.png" alt="Logo Muse">
    </div>
    <h1>Giai điệu của bạn, hành trình của chúng tôi – Đăng ký ngay</h1>
        <form class="login-form">
            <label for="email">Email hoặc tên người dùng</label>
            <input type="email" id="email" placeholder="Email" />

            <button type="submit">Đăng ký</button>

         
            <a href="/Login/Login">Đã có tài khoản? Đăng nhập</a>
            <div class="line"></div>
            <div class="social-login">
                <button class="facebook"><img src="/image/facebook-1--media-facebook-social.png" alt="Spotify">Tiếp tục với Facebook</button>
                <button class="google"><img src="/image/google--media-google-social.png" alt="Spotify">Tiếp tục với Google</button>
            </div>

            <!-- Ảnh nằm trong form -->

        </form>
    </div>
</main>