@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="AboutUs-container">
    <div class="AboutUs-banner">
        <div class="text-banner">
            <h1>ABOUT US</h1>
            <p>Về chúng tao</p>
        </div>
    </div>
    
    <div class="introduce-banner">
        <p>Muse là một cửa hàng đĩa than với gốc ở Hà Nội còn ngọn thì vươn ra khắp Việt Nam. Thành lập từ năm 2024 bởi 5 người trẻ yêu âm nhạc, tầm nhìn của chúng tôi không chỉ là bán đĩa than mà rộng hơn: đưa âm nhạc tới bạn qua tất cả các giác quan</p>
        <p>Âm nhạc nên đến với bạn qua đôi tai, đôi mắt, bàn tay, trí não và cả trái tim. Muse hiểu rằng định dạng tốt nhất để giữ gìn sự nguyên bản của âm thanh và trọn vẹn cảm xúc của người nghe chính là chiếc đĩa than. Còn biểu tượng nào kinh điển hơn đĩa than khi nói tới âm nhạc? Đơn giản, mộc mạc nhưng cũng có lúc rực sắc, trang trọng, một mảnh ghép của lịch sử theo cả nghĩa đen và bóng. Và trên hết, là món quà tuyệt vời cho những tâm hồn yêu âm nhạc.</p>
    </div>
    
    <div class="AboutUs-content">
        <h1>4 Tiêu chí muse cam kết</h1>

        <div class="AboutUs-content-container">
            
            <div class="image1">
                <img src="/image/tieuchi1.png" alt="">
            </div>

            <div class="content">
                <p>Muse sử dụng vỏ hộp thiết kế riêng để bảo vệ đĩa một cách an toàn nhất:</p>
                <li>Thiết kế thông minh bảo vệ 4 góc đĩa không bị gãy</li>
                <li>Độ dày thay đổi linh hoạt dựa vào số lượng đĩa</li>
                <li>Unpack đơn giản trong 5 giây</li>
                <p>Các đơn hàng kèm theo mã vận đơn để tra cứu dễ dàng</p>
            </div>
        </div>

        <div class="AboutUs-content-container">

            <div class="image1">
                <img src="/image/tieuchi2.png" alt="">
            </div>

            <div class="content">
                <p>Mọi Album đĩa than đều được Muse nâng niu, chăm sóc và vệ sinh kỹ lưỡng trước khi đến tay bạn:</p>
                <li>Đĩa có đánh giá tình trạng cụ thể, trung thực</li>
                <li>Đĩa than bán ra sẽ tặng kèm vỏ bọc nilon và vỏ đĩa chống tích điện</li>
                <li>Các đĩa đi kèm hướng dẫn chăm sóc đĩa than</li>
            </div>

        </div>

        <div class="AboutUs-content-container">

            <div class="image1">
                <img src="/image/tieuchi3.png" alt="">
            </div>

            <div class="content">
                <li>Giá ship chung cho các đơn hàng mua đĩa ở tất cả khu vực là 35.000đ.</li>
                <li>Freeship cho đơn hàng mua đĩa từ 2.000.000đ trở lên.</li>
                <li>Máy đĩa than có phí ship hàng cồng kềnh tuỳ khu vực.</li>
            </div>

        </div>        

        <div class="AboutUs-content-container">

            <div class="image1">
                <img src="/image/tieuchi4.png" alt="">
            </div>

            <div class="content">
                <p>Không chỉ dừng lại ở những đĩa có trên Website, Muse còn nhận tìm và đặt đĩa theo yêu cầu riêng.
Liên hệ với Muse để có được với giá tốt nhất.</p>
            </div>

        </div>        
        
    </div>

<div class="tieude2">
    <h1>bắt đầu hành trình khám phá của bạn</h1>
</div>

<div class="AboutUs-content2">
    
    <div class="AboutUs-content-container2">
        <img src="/image/about-us-1.png" alt="">
        <div class="aboutus-content2">
            <p>BẠN THÍCH BẮT KỊP XU HƯỚNG</p>
        <a href="">khám phá đĩa mới</a>
        </div>
    </div>

    <div class="AboutUs-content-container2">
        <img src="/image/about-us-2.png" alt="">
        <div class="aboutus-content2">
            <p>BẠN LÀ NGƯỜI CHƠI HỆ FAN RUỘT</p>
        <a href="">tìm đĩa theo nghệ sĩ</a>
        </div>
    </div>

    <div class="AboutUs-content-container2">
        <img src="/image/about-us-3.png" alt="">
        <div class="aboutus-content2">
            <p> ĐAM MÊ DU HÀNH THỜI GIAN</p>
        <a href="">tìm đĩa theo thời kì</a>
        </div>
    </div>

    <div class="AboutUs-content-container2">
        <img src="/image/about-us-4.png" alt="">
        <div class="aboutus-content2">
            <p>BẠN CÓ ỔN KHÔNG?</p>
        <a href="">tìm đĩa theo tâm trạng</a>
        </div>
    </div>

</div>

<div class="follow-us">
            <p>Theo dõi Muse tại:</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/mitama.ukano.1/" target="_blank">
                    <img src="/image/Vector.png" alt="Facebook">
                </a>
                <a href="#" target="_blank">
                    <img src="/image/TikTok.png" alt="Instagram">
                </a>
                <a href="#" target="_blank">
                    <img src="/image/Subtract.png" alt="TikTok">
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    <img src="/image/ytb.png" alt="YouTube">
                </a>
            </div>
        </div>

</main>