@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <!-- Accessory Header -->

    <section class="section-padding">

        <img class="accessory-img-top" src="/images/accessory-header.png">

    </section>

    <div class="container">
        <div class="row">

            <div class="accessory-title">
                <h1>TẤT CẢ PHỤ KIỆN:</h1>

            </div>

        </div>
    </div>

    <!--  Accessory List -->

    <div class="accessory-container">
        <div class="accessory">
            <a href=""><img src="/images/accessory/accessory-1.png" alt="Bộ Vệ Sinh 5 trong 1 Vinyl Buddy"></a>
            <h2>Bộ Vệ Sinh 5 trong 1 Vinyl Buddy</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">950.000 ₫</p>
            <div class="buttons">

                <span class="available">CÒN HÀNG</span>

            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory.png" alt="Bộ vệ sinh đĩa than 5 in 1 OPULA"></a>
            <h2>Bộ vệ sinh đĩa than 5 in 1 OPULA</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">750.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-2.png" alt="Bộ vệ sinh đĩa than 6 trong 1 MOPIANO"></a>
            <h2>Bộ vệ sinh đĩa than 6 trong 1 MOPIANO</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">950.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-3.png" alt="Bộ vệ sinh đĩa than Boundless 5 trong 1"></a>
            <h2>Bộ vệ sinh đĩa than Boundless 5 trong 1</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">1.090.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-4.png" alt="Bộ vệ sinh đĩa than Thorens Cleaning Set"></a>
            <h2>Bộ vệ sinh đĩa than Thorens Cleaning Set</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">3.800.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-5.png"
                    alt="Bộ vệ sinh mâm đĩa than Audio-Technica AT6012"></a>
            <h2>Bộ vệ sinh mâm đĩa than Audio-Technica AT6012</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">665.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-6.png" alt="Bộ Dung dịch vệ sinh Kim Máy Hát Đĩa than"></a>
            <h2>Bộ Dung dịch vệ sinh Kim Máy Hát Đĩa than</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">540.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-7.png" alt="Set 4 đầu kim cho máy hát đĩa than"></a>
            <h2>Set 4 đầu kim cho máy hát đĩa than</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">100.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>
    </div>

</main>
