@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <!-- Accessory Head -->
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6 col-12">
                    <div class="accessory-thumb">
                        <img src="/images/accessory/accessory-thumb.png" class="accessory-image" alt="">
                    </div>

                    <div class="accessory-secondthumb">
                        <img src="/images/accessory/accessory-thumb-2.png" class="accessory-small" alt="">
                        <img src="/images/accessory/accessory-thumb-3.png" class="accessory-small" alt="">
                        <img src="/images/accessory/accessory-thumb-4.png" class="accessory-small" alt="">
                    </div>

                </div>

                <div class="col-lg-6 col-12">

                    <!-- AccessoryPrice & Infor -->
                    <div class="accessory-info">
                        <div>
                            <h2>Bộ vệ sinh đĩa than 5 in 1 OPULA</h2>

                            <h3>Phụ kiện</h3>

                            <h4>950.000 ₫</h4>

                            <h5>Mã sản phẩm: PK0013</h5>


                        </div>

                    </div>

                    <!-- Accessory Add to cart -->
                    <div class="accessory-cart-thumb">

                        <div class="row">
                            <div class="col-lg-4 col-12">

                                <div class="align-items-center">
                                    <div class="quantity">
                                        <button class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="icofont-minus-square"></i>
                                        </button>

                                        <input id="form1" min="0" name="quantity" value="2" type="number"
                                            class="form-control form-control-sm" style="width: 50px;" />

                                        <button class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="icofont-plus-square"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-8 col-12">
                                <a href=""><button class="cart-btn">Thêm vào giỏ hàng</button></a>
                            </div>

                        </div>

                    </div>

                    <!-- Accessory Information -->
                    <div class="accessory-underinfo">
                        <h5>Thông tin sản phẩm:</h5>
                        <div class="row">
                            <div class="col-lg-4 col-12">
                                <p>Tình trạng</p>

                            </div>

                            <div class="col-lg-8 col-12">
                                <p>CÒN HÀNG</p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Accessory Warning -->
    <section class="section-padding">
        <div class="container">
            <div class="accessory-warn">
                <h4>LƯU Ý KHI MUA HÀNG</h4>
                <h5>Vui lòng chuyển khoản 100% đơn hàng có <span>sản phẩm PRE-ORDER.</span></h5>
                <h5>Giá sản phẩm <span>PRE-ORDER</span> cập nhật hàng tuần, Vọc Records sẽ liên hệ nếu có chênh lệch.
                </h5>
                <h5>Thời gian vận chuyển: Sản phẩm <span>CÒN HÀNG 1-5 ngày</span>, sản phẩm <span>PREORDER 2-4
                        tuần.</span></h5>
                <h5>KHÔNG <span>HUỶ/ HOÀN TIỀN</span> sản phẩm <span>PRE-ORDER</span>.</h5>
            </div>
        </div>
    </section>

    <!-- Accessory Description -->
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-12 col-12">

                    <div class="accessory-description">
                        <h2>MÔ TẢ SẢN PHẨM</h2>
                        <p>Bộ vệ sinh 5 dụng cụ bao gồm:<br>
                            - Khăn lau microfiber giữ cho đĩa than không bị ma sát hay xước xát<br>
                            - Chổi nhung quét bụi khô<br>
                            - Dung dịch chuyên dụng khử tĩnh điện<br>
                            - Bóp thổi bụi<br>
                            - Gel vệ sinh kim</p>
                    </div>
                </div>
            </div>
    </section>

    <!-- More Similar Product -->
    <div class="container">
        <div class="section-title">
            <h1>SẢN PHẨM TƯƠNG TỰ</h1>
        </div>
    </div>

    <!--  Accessory List -->

    <div class="accessory-container">
        <div class="accessory">
            <a href=""><img src="/images/accessory/accessory-1.png" alt="Bộ Vệ Sinh 5 trong 1 Vinyl Buddy"></a>
            <h2>Bộ Vệ Sinh 5 trong 1 Vinyl Buddy</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">950.000 ₫</p>
            <div class="buttons">

                <span class="available">CÒN HÀNG</span>

            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory.png" alt="Bộ vệ sinh đĩa than 5 in 1 OPULA"></a>
            <h2>Bộ vệ sinh đĩa than 5 in 1 OPULA</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">750.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-2.png" alt="Bộ vệ sinh đĩa than 6 trong 1 MOPIANO"></a>
            <h2>Bộ vệ sinh đĩa than 6 trong 1 MOPIANO</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">950.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-3.png" alt="Bộ vệ sinh đĩa than Boundless 5 trong 1"></a>
            <h2>Bộ vệ sinh đĩa than Boundless 5 trong 1</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">1.090.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-4.png" alt="Bộ vệ sinh đĩa than Thorens Cleaning Set"></a>
            <h2>Bộ vệ sinh đĩa than Thorens Cleaning Set</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">3.800.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-5.png"
                    alt="Bộ vệ sinh mâm đĩa than Audio-Technica AT6012"></a>
            <h2>Bộ vệ sinh mâm đĩa than Audio-Technica AT6012</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">665.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-6.png" alt="Bộ Dung dịch vệ sinh Kim Máy Hát Đĩa than"></a>
            <h2>Bộ Dung dịch vệ sinh Kim Máy Hát Đĩa than</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">540.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>

        <div class="accessory">
            <a href="#"><img src="/images/accessory/accessory-7.png" alt="Set 4 đầu kim cho máy hát đĩa than"></a>
            <h2>Set 4 đầu kim cho máy hát đĩa than</h2>
            <p>PHỤ KIỆN, VỆ SINH</p>
            <p class="price">100.000 ₫</p>
            <div class="buttons">
                <span class="available">CÒN HÀNG</span>
            </div>
        </div>
    </div>

</main>