@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="Artist-page-container">
    <div class="Artist-page-topbanner">
        <div class="top-title">
            <h2>danh sách nghệ sĩ</h2>
            <p>Những người truyền cảm hứng mà chúng tôi yêu quý</p>
        </div>
    </div>

    <h2>nghệ sĩ tiêu biểu</h2>


    <div class="artists-container">
        <div class="artist"></div>
    </div>

    <div class="artists-name-container">
        
        <div class="artists-name-li">

        </div>



    </div>
</main>