@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="Artist-detail-page">

    <div class="artist-detail-page-topbanner">
        <div class="artist-detail-page-topbanner-container">

        <div class="go-back">
            <a href="/home/artist"><i class="fa-solid fa-chevron-left"></i> Danh sách nghệ sĩ</a>
        </div>
        
        <div class="artist-detail-title">
            <p>MUSE featured</p>
        <h2>Yoasobi</h2>
        </div>
        
        <div class="artist-link-icon">
            <a href="https://open.spotify.com/artist/64tJ2EAv1R6UaZqc4iOCyj" target="_blank"><img src="/image/spotify-white.png" alt=""></a>
            <a href="https://music.apple.com/us/artist/yoasobi/1490256993" target="_blank"><img src="/image/Apple Music Icon.png" alt=""></a>
        </div>

        </div>
      

    </div>

<div class="artist-detail-bio">
    <h2>tiểu sử </h2>

    <div class="artist-bio">
        <p>Adele tên đầy đủ là Adele Laurie Blue Adkins MBE, sinh ngày 5 tháng 5 năm 1988. Cô là một ca sĩ, nhạc sĩ người Anh. Adele được đề nghị ký hợp đồng thu âm với hãng thu âm XL Recordings sau khi một người bạn của Adele đăng một bản demo của cô lên Myspace vào năm 2006. Năm tiếp theo cô nhận giải “Sự lựa chọn của Nhà phê bình” trong lễ trao giải Brit Awards và đoạt giải Sound of 2008 của kênh BBC. Album đầu tay của cô, 19 được phát hành vào năm 2008 với nhiều thành công cả về thương mại lẫn các ý kiến phê bình tại Anh. Album 19 được chứng nhận đĩa bạch kim bốn lần tại Anh Quốc và hai đĩa bạch kim tại Hoa Kỳ. Sự nghiệp của cô tại Mỹ thăng tiến mạnh mẽ sau sự xuất hiện của cô trong chương trình Saturday Night Live vào cuối năm 2008. Tại lễ trao giải Grammy năm 2009, Adele đã nhận được giải Nghệ sĩ mới xuất sắc nhất và Trình diễn giọng Pop nữ xuất sắc nhất.</p>
        <p>Adele phát hành album thứ hai của cô – 21 vào đầu năm 2011. Album nhận được nhiều nhận xét tích cực từ giới phê bình và thành công hơn về mặt thương mại so với album đầu tay, đem lại cho cô nhiều giải thưởng trong năm 2012 trong đó có việc cân bằng kỉ lục giành 6 giải Grammy trong một đêm của Beyoncé. Album 21 đã được chứng nhận đĩa bạch kim 16 lần tại Anh, còn tại Mỹ album giữ vị trí dẫn đầu trên bảng xếp hạng lâu hơn bất kỳ album nào kể từ năm 1985. Album đến nay đã bán ra trên 30 triệu bản trên toàn cầu. Ước tính Adele đã bán ra 65 triệu album và 100 triệu đĩa đơn trên toàn thế giới.</p>
        <p>21 cũng giúp Adele được ghi danh trong Sách Kỷ lục Guinness. Cô là nữ nghệ sĩ đầu tiên trong lịch sử Billboard Hot 100 có cùng một lúc ba đĩa đơn trong top 10, có hai album trong top 5 Billboard 200 và hai đĩa đơn trong top 5 Billboard Hot 100. Adele cũng là nghệ sĩ nữ có album  giữ vị trí đầu bảng trong nhiều tuần nhất trên các bảng xếp hạng album của Vương quốc Anh và Hoa Kỳ. Trong hai năm liên tiếp (2011 và 2012) Adele được Billboard bầu chọn là Nghệ sĩ của năm.</p>
        <p>Vào năm 2012, Adele đứng thứ năm trong danh sách 100 Người phụ nữ vĩ đại nhất trong âm nhạc của VH1 còn tạp chí Time cũng bầu chọn cô là một trong những nhân vật ảnh hưởng nhất trên thế giới. Tại lễ trao giải Oscar lần thứ 85, Adele đã trở thành một trong 6 ca sĩ trong lịch sử giành giải Oscar cho hạng mục Ca khúc trong phim hay nhất với “Skyfall”, bài hát chủ đề trong bom tấn cùng tên.</p>
    </div>

    <h2>album tiêu biểu</h2>

    <ul>
        <li>アイドル (Idol)</li>
        <li>THE BOOK 1</li>
        <li>THE BOOK 2</li>
        <li>THE BOOK 3</li>
    </ul>

</div>

<div class="artist-detail-vinyl">
    <h2>đĩa nhạc đang có ở Muse</h2>



<div class="product-container">
        <div class="product">
            <a href="#"><img src="/image/Yoasobi_The_Book_1.jpg" alt="All Eyez On Me"></a>
            <h2>The Book 1</h2>
            <p>YOASOBI</p>
            <p class="price">1.115.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        <div class="product">
            <a href="#"><img src="/image/Yoasobi_The_Book_2.jpg" alt=""></a>
            <h2>The Book 2</h2>
            <p>YOASOBI</p>
            <p class="price">899.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        <div class="product">
            <a href="#"><img src="/image/Yoasobi_The_Book_3.jpg" alt=""></a>
            <h2>The Book 3</h2>
            <p>YOASOBI</p>
            <p class="price">899.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>
      
        <div class="product">
            <a href="#"><img src="/image/YOASOBI_Idol-12-Inch_vinyl_mint_26ef884f-c494-4485-b68a-a6c94e17d158_720x 1.png"
                    alt="Idol"></a>
            <h2>アイドル (Idol)</h2>
            <p>YOASOBI</p>
            <p class="price">1.115.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        
    </div>
    <div class="view-more">
        <button>Xem thêm</button>
    </div>
</div>

</main>