@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="/image/Blog-img.png">
<main class="blog-container">
    <h1 class="blog-title">TẤT CẢ BÀI VIẾT</h1>
    <div class="blog-list">
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
        </div>
        <div class="blog-list">
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
        </div>
        <div class="line"></div>
    <h1 class="blog-title">BÀI VIẾT NỔI BẬT</h1>
    <div class="blog-list">
        <a href=/Home/BlogDetail class="blog-card-half">
            <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
            <div class="transparent"></div>
            <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
        </a>
        <a href=/Home/BlogDetail class="blog-card-half">
            <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
            <div class="transparent"></div>
            <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
        </a>
    </div>
    <div class="line"></div>
    <h1 class="blog-title">CÁC BLOG KHÁC</h1>
    <div class="blog-list">
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
        </div>
        <div class="blog-list">
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=/Home/BlogDetail class="blog-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
        </div>
</main>