@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="blog-container">
    <h1 class="blog-title">Cách âm nhạc kể chuyện trong Spirited Away</h1>
    <p class="blog-meta">Ngày 30/07/2014</p>
    <p class="blog-author">Được viết bởi: <strong>Hwang Inu</strong></p>
    <section class="blog-image">
        <img src="/image/spirited-away-main.png">
    </section>
    <article class="blog-content">
        <p>
            Mình vẫn nhớ như in kí ức của một cậu học sinh lớp 3, vừa ăn cơm tối vừa xem bộ phim Vùng Đất Linh Hồn được
            chiếu đi chiếu lại trên kênh VTV2. Hồi đó, mình không biết phim này là phim không nói tiếng Anh duy nhất
            thắng giải Oscar, cũng như ý nghĩa sâu xa của phim. Trong trí nhớ non nớt của cậu bé ấy chỉ là hình ảnh đáng
            sợ của những con lợn tham ăn (mà mẹ mình dọa ăn nhiều sẽ thành như thế), và thứ âm nhạc nhẹ nhàng nhưng bé
            quá do giọng người lồng tiếng át hết rồi.
        </p>
        <p>
            Lớn lên, mình may mắn được xem lại Spirited Away trên chính nước Nhật Bản, trong giờ học phân tích phim của
            Hayao Miyazaki và có được một cái nhìn toàn cảnh hơn với tác phẩm này. Tuy còn khuya mới tóm gọn được hết ý
            đồ của Miyazaki, nhưng mình cảm nhận được rõ rệt tầm quan trọng của âm nhạc trong tác phẩm. Vượt qua giới
            hạn ca khúc phù hợp từng phân đoạn, các sáng tác của Joe Hisaishi là một phần cấu tạo nên chính cốt truyện
            của Spirited Away.
        </p>
        <div class="blog-image">
            <img src="/image/spirited-away-scene1.png">
        </div>
        <p>
            Tóm tắt lại phim một chút (nhưng không phải kiểu Phim 9 phút), Spirited Away nói về cô bé Chihiro trong
            chuyến chuyển nhà về vùng quê cùng gia đình. Cô liên tục thể hiện sự chán nản có phần sợ hãi trước sự thay
            đổi này, cho đến khi cả gia đình cô lạc vào khu vui chơi bị bỏ hoang. Tại đây, cha mẹ cô ăn phải thức ăn
            được dọn ra cho các linh hồn đến vào buổi tối nên họ bị trừng phạt biến thành lợn. Chihiro gặp được Haku
            (sau này được tiết lộ là linh hồn của một dòng sông), và cô phải làm việc trong “suối nước nóng” dành cho
            các linh hồn để giải cứu bố mẹ về thế giới thực tại.
        </p>
        <p>
            Xuyên suốt cả phim là sự hợp tác vô cùng ăn ý giữa đạo diễn hình ảnh Miyazaki và đạo diễn âm thanh Hisaishi.
            Thiếu đi âm nhạc, những hoạt ảnh của Miyazaki sẽ thiếu tính thuyết phục và tầm ảnh hưởng đi bội phần. Âm
            nhạc tạo ra những xúc cảm mà người nghe có thể đắm mình vào để cảm nhận cốt truyện. Chẳng hạn như khi nghe
            ca khúc “One Summer’s Day” ngay từ giây đầu tiên của phim, người xem có thể cảm nhận được sự lo âu, không
            chắc chắn của Chihiro trước sự thay đổi lớn trong cuộc đời.
        </p>
        <div class="blog-image">
            <img src="/image/spirited-away-street.png" alt="Cảnh phố đêm trong Spirited Away">
        </div>
        <p>
            Sau khi bước chân vào vùng đất linh hồn, những giai điệu chuyển sang dùng Okinawan scale thay vì pentatonic.
            Đảo Okinawa nổi tiếng là tách biệt khỏi phần còn lai của Nhật Bản. Sự khác biệt giai điệu này làm người xem
            nhận rõ nhân vật chính không còn ở thế giới thực tại nữa mà lưu lạc đến một nơi lạ. Từ đây có thể kết luận
            rằng Hisaishi dùng yếu tố sắc tộc và các kiểu khuôn nhạc để điều hướng nội dung phim.
        </p>
        <p>
            Một nhân vật làm nên tên tuổi của Spirited Away chính là Vô Diện. Nhân vật khó hiểu này toát lên vẻ lạ lùng
            và huyền bí, như thế đến từ một nền văn hóa khác hẳn. Bài hát chủ đề của hắn có chút chất Á Đông nhưng vẫn
            xen lẫn các yếu tố lạ, và còn thay đổi dần theo tâm trạng của chính Vô Diện nữa.
        </p>
        <div class="blog-img-half">
            <img src="/image/VoDien1.png" alt="Vo Dien 1" class="blog-img-half-item1">
            <img src="/image/VoDien2.png" alt="Vo Dien 2" class="blog-img-half-item2">
        </div>
        <p>
            Âm nhạc rõ ràng đóng một vai trò không hề nhỏ trong cách kể chuyện của mạch phim. Nhìn chung, nếu như không
            xem phim mà chỉ lắng nghe bộ soundtrack, tự thân nó cũng là một tác phẩm nghệ thuật trọn vẹn xứng đáng được
            thưởng thức một cách nghiêm túc.
        </p>
    </article>
    <section class="related-blogs">
        <h2>CÁC BLOG KHÁC:</h2>
        <div class="blog-list">
            <div class="blog-card">
                <img src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <a href="#" class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</a>
            </div>
            <div class="blog-card">
                <img src="/image/spirited-away-main.png" alt="Bài viết liên quan 2">
                <div class="transparent"></div>
                <a href="#" class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</a>
            </div>
            <div class="blog-card">
                <img src="/image/spirited-away-main.png" alt="Bài viết liên quan 3">
                <div class="transparent"></div>
                <a href="#" class="blog-card-title">Cách âm nhạc kể chuyện trong Spirited Away</a>
            </div>
        </div>
    </section>
</main>
