    @{
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="main-content">
     <div class="profile-header">
        <img src="/image/mck.png" alt="Profile" class="profile-pic">
        <div class="profile-text">
        <h1>RENO</h1>
        <p>Âm nhạc là tiếng nói của tâm hồn , nơi cảm xúc được vẽ nên bằng âm thanh. Đó là cách tôi kể chuyện, sống thật và kết nối với thế giới.</p>
    </div>
    </div>
    
    <section class="section-card">
    <div class="card-header">
        <div class="icon">
            <img src="/image/Icon.png" alt="Icon" />
        </div>
        <h2>Tài khoản</h2>
    </div>
    <div class="card-actions">
        <button class="action-btn">
            <img src="icon-edit.png" alt="Edit Icon" />
            Chỉnh sửa hồ sơ
        </button>
        <button class="action-btn">
            <img src="icon-heart.png" alt="Heart Icon" />
            Yêu thích
        </button>
    </div>
</section>
    <section class="section-card">
    <div class="card-header">
        <div class="icon">
            <img src="/image/user-identifier-card.png" alt="Icon" />
        </div>
        <h2>Thanh toán</h2>
    </div>
    <div class="card-actions">
        <button class="action-btn">
            <img src="icon-edit.png" alt="Edit Icon" />
            Lịch sử mua
        </button>
        <button class="action-btn">
            <img src="icon-heart.png" alt="Heart Icon" />
            Phương thức thanh toán
        </button>
    </div>
</section>
    </div>
    </div>
</main>