@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="trang-ch-cha-ng-nhp">
      <div class="div">
        <div class="overlap">
          <div class="group">
            <div class="group-2">
              <img class="rectangle" src="img/rectangle-22.png" />
              <div class="group-3">
                <div class="text-wrapper">MUSE</div>
                <p class="p">Trải nhiệm âm nhạc của riêng bạn</p>
              </div>
            </div>
            <div class="text-wrapper-2">HAU-21CĐP2</div>
            <div class="group-4">
              <div class="text-wrapper">THÔNG TIN</div>
              <div class="text-wrapper-3">Về chúng tôi</div>
              <div class="text-wrapper-4">Blog</div>
              <img class="vector" src="img/vector-3.svg" />
            </div>
            <div class="group-5">
              <div class="text-wrapper">TRỢ GIÚP</div>
              <div class="group-6">
                <div class="text-wrapper-5">Trang chủ</div>
                <div class="text-wrapper-6">Cửa hàng</div>
                <div class="text-wrapper-7">Liên hệ</div>
              </div>
              <img class="vector" src="img/vector-4.svg" />
            </div>
            <div class="group-7">
              <div class="text-wrapper">LIÊN HỆ</div>
              <img class="vector" src="img/vector-5.svg" />
              <div class="group-8">
                <div class="group-9">
                  <p class="text-wrapper-8">P. Văn Quán, Hà Đông, Hà Nội</p>
                  <img class="img" src="img/location-pin-3-navigation-map-maps-pin-gps-location.png" />
                </div>
                <div class="group-10">
                  <div class="text-wrapper-9">phamtheanh3628@gmail.com</div>
                  <img
                    class="mail-send-envelope"
                    src="img/mail-send-envelope-envelope-email-message-unopened-sealed-close.png"
                  />
                </div>
                <div class="group-11">
                  <div class="text-wrapper-8">0862 935 291</div>
                  <img class="img" src="img/phone-android-phone-mobile-device-smartphone-iphone.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-group">
          <img class="image" src="img/image-9.png" />
          <div class="overlap-wrapper">
            <div class="overlap-2">
              <div class="overlap-group-2">
                <img class="image-2" src="img/image-14.png" />
                <div class="kh-m-ph-ngay">Khám phá ngay &gt;</div>
              </div>
              <div class="u-a">ĐẦU ĐĨA &gt;</div>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-3">
              <img class="image-3" src="img/image-8.png" />
              <div class="PH-KI-n">PHỤ KIỆN &gt;</div>
              <div class="kh-m-ph-ngay-2">Khám phá ngay &gt;</div>
            </div>
          </div>
        </div>
        <img class="image-4" src="img/image-4.png" />
        <div class="ch-a-bi-t-n-n-mua-g-wrapper">
          <p class="ch-a-bi-t-n-n-mua-g">Chưa biết nên mua gì? <br />Hãy ghé thăm Blog của chúng tôi!</p>
        </div>
        <div class="div-wrapper"><p class="text-wrapper-10">Tìm hiểu thêm về chúng tôi!</p></div>
        <div class="overlap-4">
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="text-wrapper-11">THỂ LOẠI</div>
          <div class="text-wrapper-12">NGHỆ SĨ</div>
          <div class="group-12">
            <div class="overlap-5"><div class="text-wrapper-13">POP</div></div>
            <img class="image-5" src="img/image-2.png" />
          </div>
          <div class="group-13">
            <div class="overlap-6"><div class="text-wrapper-13">POP</div></div>
            <img class="image-5" src="img/image-13.png" />
          </div>
          <div class="group-14">
            <div class="overlap-6"><div class="text-wrapper-14">ROCK</div></div>
            <img class="image-5" src="img/image-5.png" />
          </div>
          <div class="group-15">
            <div class="overlap-6"><div class="text-wrapper-15">JAZZ</div></div>
            <img class="image-5" src="img/image-10.png" />
          </div>
          <div class="group-16">
            <div class="overlap-6"><div class="text-wrapper-16">FOLK</div></div>
            <img class="image-5" src="img/image-7.png" />
          </div>
          <div class="group-17">
            <div class="overlap-6"><div class="text-wrapper-17">ELECTRONIC</div></div>
            <img class="image-5" src="img/image-11.png" />
          </div>
          <div class="group-18">
            <div class="overlap-7"><div class="text-wrapper-18">Quyền Chí Long</div></div>
            <img class="image-6" src="img/image.png" />
          </div>
          <div class="group-19">
            <div class="overlap-7"><div class="text-wrapper-19">JELEE</div></div>
            <img class="image-6" src="img/image-12.png" />
          </div>
          <div class="group-20">
            <div class="overlap-8"><div class="text-wrapper-20">Taylor Swift</div></div>
            <img class="image-7" src="img/image-20.png" />
          </div>
          <div class="group-21">
            <div class="overlap-9"><div class="text-wrapper-21">Bruno Mars</div></div>
            <img class="image-7" src="img/image-21.png" />
          </div>
          <div class="group-22">
            <div class="group-23">
              <div class="text-wrapper-22">Theo dõi Muse tại:</div>
              <img class="vector-2" src="img/vector-2.png" />
            </div>
            <img class="subtract" src="img/subtract.png" />
            <img class="tik-tok" src="img/tik-tok.svg" />
            <img class="vector-3" src="img/vector.png" />
          </div>
        </div>
        <div class="text-wrapper-23">ĐĨA ĐANG CÒN HÀNG:</div>
        <div class="text-wrapper-24">MUSE CAM KẾT:</div>
        <div class="text-wrapper-25">ĐỊA CHỈ CỬA HÀNG:</div>
        <div class="group-24">
          <div class="overlap-group-3"><div class="text-wrapper-26">XEM THÊM</div></div>
        </div>
        <div class="group-25">
          <div class="overlap-10">
            <img class="rectangle-5" src="img/rectangle-21.png" />
            <div class="overlap-group-4">
              <img class="magnifying-glass" src="img/magnifying-glass-glass-search-magnifying.png" />
              <div class="text-wrapper-27">Tìm kiếm...</div>
            </div>
            <img class="hearts-symbol" src="img/hearts-symbol-entertainment-gaming-card-hearts-symbol.png" />
            <div class="text-wrapper-28">ĐĂNG NHẬP</div>
            <img class="shopping-cart" src="img/shopping-cart-2-shopping-cart-checkout.png" />
          </div>
        </div>
        <div class="navbar-wrapper">
          <div class="navbar">
            <div class="text-wrapper-29">TRANG CHỦ</div>
            <div class="text-wrapper-30">ĐẦU ĐĨA THAN</div>
            <div class="text-wrapper-31">PHỤ KIỆN</div>
            <div class="text-wrapper-32">VỀ CHÚNG TÔI</div>
            <div class="text-wrapper-33">BLOG</div>
            <div class="group-26">
              <div class="text-wrapper-29">ĐĨA THAN</div>
              <img class="vector-4" src="img/vector.svg" />
            </div>
          </div>
        </div>
        <div class="group-27">
          <div class="overlap-11">
            <p class="text-wrapper-34">NHẬN ĐẶT ĐĨA RIÊNG THEO YÊU CẦU</p>
            <div class="text-wrapper-35">Tìm hiểu thêm:</div>
            <img class="shipping-box-box" src="img/shipping-box-1-box-package-label-delivery-shipment-shipping.png" />
          </div>
        </div>
        <div class="group-28">
          <div class="overlap-11">
            <div class="text-wrapper-36">Tìm hiểu thêm:</div>
            <p class="text-wrapper-34">ĐĨA ĐƯỢC BẢO QUẢN CHU ĐÁO</p>
            <img
              class="gramophone-music"
              src="img/gramophone-music-audio-note-gramophone-player-vintage-entertainment.png"
            />
          </div>
        </div>
        <div class="group-29">
          <div class="overlap-11">
            <div class="text-wrapper-36">Tìm hiểu thêm:</div>
            <div class="text-wrapper-34">SHIP TOÀN QUỐC</div>
            <img class="transfer-van-van" src="img/transfer-van-van-shipping-delivery-transfer.png" />
          </div>
        </div>
        <div class="group-30">
          <div class="overlap-11">
            <div class="text-wrapper-36">Tìm hiểu thêm:</div>
            <div class="text-wrapper-34">VẬN CHUYỂN AN TOÀN</div>
            <img
              class="chat-two-bubbles"
              src="img/chat-two-bubbles-oval-messages-message-bubble-chat-oval-conversation.png"
            />
          </div>
        </div>
        <div class="overlap-12">
          <div class="rectangle-6"></div>
          <div class="group-31">
            <div class="text-wrapper-37">アイドル (Idol)</div>
            <div class="text-wrapper-38">YOASOBI</div>
            <img
              class="img-2"
              src="img/YOASOBI-idol-12-inch-vinyl-mint-26ef884f-c494-4485-b68a-a6c94e17d158-720x-1.png"
            />
            <div class="text-wrapper-39">1.115.000 đ</div>
            <div class="group-32">
              <div class="group-33">
                <div class="overlap-group-5"><div class="text-wrapper-40">PREORDER</div></div>
              </div>
              <div class="group-34">
                <div class="overlap-13"><div class="text-wrapper-41">M</div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-35">
          <img class="img-2" src="img/rectangle-4.png" />
          <p class="text-wrapper-37">All Eyez On Me [Explicit Content] (4 Lp&#39;s)</p>
          <div class="text-wrapper-38">2pac</div>
          <div class="text-wrapper-39">1.115.000 đ</div>
          <div class="group-36">
            <div class="group-37">
              <div class="group-33">
                <div class="overlap-group-5"><div class="text-wrapper-40">PREORDER</div></div>
              </div>
              <div class="group-34">
                <div class="overlap-13"><div class="text-wrapper-41">M</div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-38">
          <img class="img-2" src="img/rectangle-31.png" />
          <div class="text-wrapper-42">POWER</div>
          <div class="text-wrapper-43">Quyền Chí Long</div>
          <div class="text-wrapper-44">999.999.000 đ</div>
          <div class="group-39">
            <div class="group-33">
              <div class="overlap-group-5"><div class="text-wrapper-40">PREORDER</div></div>
            </div>
            <div class="group-34">
              <div class="overlap-13"><div class="text-wrapper-41">M</div></div>
            </div>
          </div>
        </div>
        <div class="group-40">
          <div class="overlap-14">
            <p class="text-wrapper-45">Enchanted Original Motion Picture Soundtrack (Crystal Clear)</p>
            <div class="text-wrapper-46">Various</div>
          </div>
          <div class="text-wrapper-39">899.000 đ</div>
          <div class="group-36">
            <div class="group-33">
              <div class="overlap-group-5"><div class="text-wrapper-40">PREORDER</div></div>
            </div>
            <div class="group-34">
              <div class="overlap-13"><div class="text-wrapper-41">M</div></div>
            </div>
          </div>
          <img class="img-2" src="img/image-16.png" />
        </div>
        <div class="group-41">
          <div class="text-wrapper-37">The Greatest Showman Soundtrack</div>
          <div class="text-wrapper-38">Various</div>
          <div class="text-wrapper-39">899.000 đ</div>
          <div class="group-36">
            <div class="group-33">
              <div class="overlap-group-5"><div class="text-wrapper-40">PREORDER</div></div>
            </div>
            <div class="group-34">
              <div class="overlap-13"><div class="text-wrapper-41">M</div></div>
            </div>
          </div>
          <img class="img-2" src="img/image-17.png" />
        </div>
        <div class="group-42">
          <p class="text-wrapper-37">Arcane (Soundtrack from the Animated Series)</p>
          <div class="text-wrapper-38">Various</div>
          <div class="text-wrapper-39">1.115.000 đ</div>
          <div class="group-32">
            <div class="group-33">
              <div class="overlap-group-5"><div class="text-wrapper-40">PREORDER</div></div>
            </div>
            <div class="group-34">
              <div class="overlap-13"><div class="text-wrapper-41">M</div></div>
            </div>
          </div>
          <img class="image-8" src="img/image-18.png" />
        </div>
        <div class="group-43">
          <img class="img-2" src="img/bocchi-the-rock-song-album-kessoku-band-vinyl-black-720x-3.png" />
          <p class="text-wrapper-37">Kessoku Band (Music from Bocchi The Rock!)</p>
          <div class="text-wrapper-38">Kessoku Band</div>
          <div class="text-wrapper-39">1.115.000 đ</div>
          <div class="group-36">
            <div class="group-33">
              <div class="overlap-group-5"><div class="text-wrapper-40">PREORDER</div></div>
            </div>
            <div class="group-34">
              <div class="overlap-13"><div class="text-wrapper-41">M</div></div>
            </div>
          </div>
        </div>
        <div class="group-44">
          <div class="text-wrapper-38">Ado</div>
          <div class="text-wrapper-37">Zanmu (残夢)</div>
          <div class="text-wrapper-39">1.115.000 đ</div>
          <div class="group-36">
            <div class="group-33">
              <div class="overlap-group-5"><div class="text-wrapper-40">PREORDER</div></div>
            </div>
            <div class="group-34">
              <div class="overlap-13"><div class="text-wrapper-41">M</div></div>
            </div>
          </div>
          <img class="img-2" src="img/ado-zanmu-vinyl-black-720x-1.png" />
        </div>
      </div>
    </div>
  </body>