@{
    ViewData["Title"] = "Home Page";
}
<main>
   <div class="banner" id="templatemo_banner_slide">
    <ul style="width: 100%; position: relative; overflow: hidden; left: -100%; height: 543px;">
        <li class="templatemo_banner_slide_01" style="width: 33.3333%; height: 542.688px;">
            <div class="slide_caption" style="margin-top: 221.344px;">
                <h1>Responsive Layout</h1>
                <p>Aenean diam libero, venenatis eu risus eu, tincidunt porttitor orci. Praesent sit amet auctor erat, vitae auctor dolor. Sed viverra nunc magna, quis placerat augue pellentesque quis. Sed nec pellentesque dolor.</p>
            </div>
        </li>
        <li class="templatemo_banner_slide_02" style="width: 33.3333%; height: 542.688px;">
            <div class="slide_caption" style="margin-top: 221.344px;">
                <h1>HTML5 Web Template</h1>
                <p>Dragonfruit is another responsive template from templatemo. Nulla consequat mi et lectus vehicula condimentum. Nulla ullamcorper dolor vehicula dolor interdum, eget fermentum ligula bibendum.</p>
            </div>
        </li>
        <li class="templatemo_banner_slide_03" style="width: 33.3333%; height: 542.688px;">
            <div class="slide_caption" style="margin-top: 221.344px;">
                <h1>Mobile Friendly</h1>
                <p>Pellentesque luctus ac nunc et hendrerit. Aliquam eu scelerisque eros. Vestibulum scelerisque mi nec augue condimentum rhoncus. Cras fermentum convallis elementum.</p>
            </div>
        </li>
    </ul>
</div>
   <div class="container">
    <!-- Bên trái -->
    <div class="section left">
      <h2 class="title">ĐẦU ĐĨA ></h2>
      <p class="subtitle">Khám phá ngay</p>
      <a href="#" class="image-link">
        <img src="image/dau.png" alt="Đầu Đĩa" class="image">
      </a>
    </div>
    <!-- Bên phải -->
    <div class="section right">
      <h2 class="title">PHỤ KIỆN ></h2>
      <p class="subtitle">Khám phá ngay</p>
      <a href="#" class="image-link">
        <img src="image/phu.png" alt="Phụ Kiện" class="image">
      </a>
    </div>
  </div>
<h1>Đĩa đang còn hàng:</h1>
    <div class="product-container">
        <div class="product">
            <a href="#"><img src="image/babie.png" alt="All Eyez On Me"></a>
            <h2>All Eyez On Me [Explicit Content] (4 LP's)</h2>
            <p>2pac</p>
            <p class="price">1.115.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>
        
        <div class="product">
            <a href="#"><img src="image/disney.png" alt="Enchanted Original Motion Picture Soundtrack"></a>
            <h2>Enchanted Original Motion Picture Soundtrack (Crystal Clear)</h2>
            <p>Various</p>
            <p class="price">899.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        <div class="product">
            <a href="#"><img src="image/showm.png" alt="The Greatest Showman Soundtrack"></a>
            <h2>The Greatest Showman Soundtrack</h2>
            <p>Various</p>
            <p class="price">899.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        <div class="product">
            <a href="#"><img src="image/arcane.png" alt="Arcane Soundtrack"></a>
            <h2>Arcane (Soundtrack from the Animated Series)</h2>
            <p>Various</p>
            <p class="price">1.115.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        <div class="product">
            <a href="#"><img src="image/Bocchi-The-Rock-Song-Album-Kessoku-Band_vinyl_black_720x 1.png" alt="Kessoku Band"></a>
            <h2>Kessoku Band (Music from Bocchi The Rock!)</h2>
            <p>Kessoku Band</p>
            <p class="price">1.115.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        <div class="product">
            <a href="#"><img src="image/Ado_Zanmu_vinyl_black_720x 1.png" alt="Zanmu"></a>
            <h2>Zanmu (残夢)</h2>
            <p>Ado</p>
            <p class="price">1.115.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        <div class="product">
            <a href="#"><img src="image/YOASOBI_Idol-12-Inch_vinyl_mint_26ef884f-c494-4485-b68a-a6c94e17d158_720x 1.png" alt="Idol"></a>
            <h2>アイドル (Idol)</h2>
            <p>YOASOBI</p>
            <p class="price">1.115.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        <div class="product">
            <a href="#"><img src="image/power.png" alt="Power"></a>
            <h2>POWER</h2>
            <p>Quyền Chí Long</p>
            <p class="price">999.999.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>
    </div>
    <div class="view-more">
        <button>Xem thêm</button>
    </div>


    <div class="categories">
        <h2>THỂ LOẠI</h2>
        <div class="category-container">
            <div class="category-item">
                <a href="#"><img src="image/pop.png" alt="Pop Music"></a>
                <p>POP</p>
            </div>
            <div class="category-item">
                <a href="#"><img src="image/rock.png" alt="Rap Music"></a>
                <p>POP</p>
            </div>
            <div class="category-item">
                <a href="#"><img src="image/rockm.png" alt="Rock Music"></a>
                <p>ROCK</p>
            </div>
            <div class="category-item">
                <a href="#"><img src="image/jazz.png" alt="Jazz Music"></a>
                <p>JAZZ</p>
            </div>
            <div class="category-item">
                <a href="#"><img src="image/folk.png" alt="Folk Music"></a>
                <p>FOLK</p>
            </div>
            <div class="category-item">
                <a href="#"><img src="image/electronic.png" alt="Electronic Music"></a>
                <p>ELECTRONIC</p>
            </div>
        </div>
        <h2>Nghệ sĩ</h2>
        <div class="category-container">
            <div class="category-item2">
                <a href="#"><img src="image/gd.png" alt="Pop Music"></a>
                <p class="ns">Quyền Chí Long</p>
            </div>
            <div class="category-item2">
                <a href="#"><img src="image/elle.png" alt="Rap Music"></a>
                <p class="ns">JELLE</p>
            </div>
            <div class="category-item2">
                <a href="#"><img src="image/bruno.png" alt="Rock Music"></a>
                <p class="ns">Bruno Mars</p>
            </div>
            <div class="category-item2">
                <a href="#"><img src="image/taylor.png" alt="Jazz Music"></a>
                <p class="ns">Taylor Swift</p>
        </div>
    </div>
    <div class="follow-us">
    <p>Theo dõi Muse tại:</p>
    <div class="social-icons">
        <a href="#" target="_blank">
            <img src="image/Vector.png" alt="Facebook">
        </a>
        <a href="#" target="_blank">
            <img src="image/TikTok.png" alt="Instagram">
        </a>
        <a href="#" target="_blank">
            <img src="image/Subtract.png" alt="TikTok">
        </a>
        <a href="#" target="_blank">
            <img src="image/ytb.png" alt="YouTube">
        </a>
    </div>
</div>
    </div>
     <a href="Home/Login"><h4>Muse cam kết:</h4>
     </a>
      <div class="info-container">
        <div class="info-box">
            <img src="icon1.png" alt="Icon" class="info-icon">
            <div class="info-content">
                <h3>NHẬN ĐẶT ĐĨA RIÊNG THEO YÊU CẦU</h3>
                <p>Tìm hiểu thêm</p>
            </div>
        </div>
        <div class="info-box">
            <img src="icon2.png" alt="Icon" class="info-icon">
            <div class="info-content">
                <h3>SHIP TOÀN QUỐC, FREESHIP ĐƠN HÀNG ĐĨA TỪ 2 TRIỆU ĐỒNG</h3>
                <p>Tìm hiểu thêm</p>
            </div>
        </div>
        <div class="info-box">
            <img src="icon3.png" alt="Icon" class="info-icon">
            <div class="info-content">
                <h3>ĐĨA ĐƯỢC BẢO QUẢN CHU ĐÁO</h3>
                <p>Tìm hiểu thêm</p>
            </div>
        </div>
        <div class="info-box">
            <img src="icon4.png" alt="Icon" class="info-icon">
            <div class="info-content">
                <h3>VẬN CHUYỂN AN TOÀN, TRÁNH HƯ HẠI ĐĨA</h3>
                <p>Tìm hiểu thêm</p>
            </div>
        </div>
        <div class="info-box2">
            <img src="image/image.png" alt="Thông tin 1" class="info-image">
            <div class="info-content">
                <h3>NHẬN ĐẶT ĐĨA RIÊNG THEO YÊU CẦU</h3>
                <p>Tìm hiểu thêm</p>
            </div>
        </div>
        <div class="info-box2">
            <img src="image/image1.png" alt="Thông tin 2" class="info-image">
            <div class="info-content">
                <h3>SHIP TOÀN QUỐC, FREESHIP ĐƠN HÀNG ĐĨA TỪ 2 TRIỆU ĐỒNG</h3>
                <p>Tìm hiểu thêm</p>
            </div>
        </div>
    </div>
</main>
