@{
    ViewData["Title"] = "Home Page";
}
<div id="main" class="column1 boxed no-breadcrumbs">
    <!-- main -->
    <div class="container">
        <div class="row main-content-wrap">
            <!-- main content -->
            <div class="main-content col-lg-12">
                <div data-elementor-type="wp-page" data-elementor-id="2158" class="elementor elementor-2158"
                    data-elementor-settings="[]">
                    <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-c89d821 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="c89d821" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="image"><img class="img" src="image/image.png" /></div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-cc96e39 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                                data-id="cc96e39" data-element_type="section"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-e1d3411 min-h-200"
                                            data-id="e1d3411" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-66516f3 elementor-widget elementor-widget-heading"
                                                        data-id="66516f3" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h3 class="elementor-heading-title elementor-size-default">
                                                                <a href="/tao-mixtape/">CASSETTE ZONE <i
                                                                        class="fas fa-angle-right"></i></a></h3>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-159ae7e elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading"
                                                        data-id="159ae7e" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <p class="elementor-heading-title elementor-size-small">Âm
                                                                thanh analog trên băng cát-xét</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-a002c6a elementor-align-right btn-w elementor-widget elementor-widget-button"
                                                        data-id="a002c6a" data-element_type="widget"
                                                        data-widget_type="button.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-button-wrapper">
                                                                <a href="/mixtape/"
                                                                    class="elementor-button-link elementor-button elementor-size-sm"
                                                                    role="button">
                                                                    <span class="elementor-button-content-wrapper">
                                                                        <span class="elementor-button-text">THU BĂNG CÁ
                                                                            NHÂN</span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-8553574 elementor-align-right btn-w elementor-button-warning elementor-widget elementor-widget-button"
                                                        data-id="8553574" data-element_type="widget"
                                                        data-widget_type="button.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-button-wrapper">
                                                                <a href="https://vocrecords.vn/product-category/dia-than/cassette-goc-2/page/1/?swoof=1&amp;orderby=price-desc&amp;really_curr_tax=12467-product_cat"
                                                                    class="elementor-button-link elementor-button elementor-size-sm"
                                                                    role="button">
                                                                    <span class="elementor-button-content-wrapper">
                                                                        <span class="elementor-button-text">Mua băng
                                                                            GỐC</span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-f67296e elementor-widget__width-initial elementor-absolute elementor-widget-mobile__width-initial elementor-widget elementor-widget-image"
                                                        data-id="f67296e" data-element_type="widget"
                                                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                                                        data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                                <img width="308" height="204"
                                                                    src="https://vocrecords.vn/wp-content/uploads/2022/07/Mask-group.png"
                                                                    class="attachment-full size-full" alt=""
                                                                    loading="lazy">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-e1d3411 min-h-200"
                                            data-id="e1d3411" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-66516f3 elementor-widget elementor-widget-heading"
                                                        data-id="66516f3" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h3 class="elementor-heading-title elementor-size-default">
                                                                <a href="/tao-mixtape/">CASSETTE ZONE <i
                                                                        class="fas fa-angle-right"></i></a></h3>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-159ae7e elementor-widget-mobile__width-initial elementor-widget elementor-widget-heading"
                                                        data-id="159ae7e" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <p class="elementor-heading-title elementor-size-small">Âm
                                                                thanh analog trên băng cát-xét</p>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-a002c6a elementor-align-right btn-w elementor-widget elementor-widget-button"
                                                        data-id="a002c6a" data-element_type="widget"
                                                        data-widget_type="button.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-button-wrapper">
                                                                <a href="/mixtape/"
                                                                    class="elementor-button-link elementor-button elementor-size-sm"
                                                                    role="button">
                                                                    <span class="elementor-button-content-wrapper">
                                                                        <span class="elementor-button-text">THU BĂNG CÁ
                                                                            NHÂN</span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-8553574 elementor-align-right btn-w elementor-button-warning elementor-widget elementor-widget-button"
                                                        data-id="8553574" data-element_type="widget"
                                                        data-widget_type="button.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-button-wrapper">
                                                                <a href="https://vocrecords.vn/product-category/dia-than/cassette-goc-2/page/1/?swoof=1&amp;orderby=price-desc&amp;really_curr_tax=12467-product_cat"
                                                                    class="elementor-button-link elementor-button elementor-size-sm"
                                                                    role="button">
                                                                    <span class="elementor-button-content-wrapper">
                                                                        <span class="elementor-button-text">Mua băng
                                                                            GỐC</span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-f67296e elementor-widget__width-initial elementor-absolute elementor-widget-mobile__width-initial elementor-widget elementor-widget-image"
                                                        data-id="f67296e" data-element_type="widget"
                                                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                                                        data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                                <img width="308" height="204"
                                                                    src="https://vocrecords.vn/wp-content/uploads/2022/07/Mask-group.png"
                                                                    class="attachment-full size-full" alt=""
                                                                    loading="lazy">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div><!-- end main content -->
            <div class="sidebar-overlay">
            </div>
        </div>
    </div>
</div>