@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img class="img-top" src="/image/MusicGenre_top.png">
<main class="musicgenre-container">
    <h1 class="musicgenre-title">THỂ LOẠI NỔI BẬT NHẤT</h1>
    <div class="musicgenre-list">
            <a href=# class="musicgenre-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="musicgenre-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=# class="musicgenre-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="musicgenre-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
        </div>
        <div class="musicgenre-list">
            <a href=# class="musicgenre-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="musicgenre-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=# class="musicgenre-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="musicgenre-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
        </div>
        <div class="line"></div>
    <h1 class="musicgenre-title">CÁC THỂ LOẠI KHÁC</h1>
    <div class="musicgenre-list">
        <div class="musicgenre-box-list">
            <a href=# class="musicgenre-box">LATIN</a>
            <a href=# class="musicgenre-box">NHẠC PHIM</a>
            <a href=# class="musicgenre-box">HIP-HOP</a>
            <a href=# class="musicgenre-box">CLASSICAL</a>
        </div>
    </div>
    <div class="musicgenre-list">
        <div href=# class="musicgenre-box-list">
            <a href=# class="musicgenre-box">COUNTRY/FOLK</a>
            <a href=# class="musicgenre-box">BLUES</a>
            <a href=# class="musicgenre-box">FUNK / FUSION</a>
            <a href=# class="musicgenre-box">VPOP</a>
        </div>
    </div>
    <div class="line"></div>
    <div class="AboutUs-content2">
    
    <div class="AboutUs-content-container2">
        <img src="/image/about-us-1.png" alt="">
        <div class="aboutus-content2">
            <p>BẠN THÍCH BẮT KỊP XU HƯỚNG</p>
        <a href="">khám phá đĩa mới</a>
        </div>
    </div>

    <div class="AboutUs-content-container2">
        <img src="/image/about-us-2.png" alt="">
        <div class="aboutus-content2">
            <p>BẠN LÀ NGƯỜI CHƠI HỆ FAN RUỘT</p>
        <a href="">tìm đĩa theo nghệ sĩ</a>
        </div>
    </div>

    <div class="AboutUs-content-container2">
        <img src="/image/about-us-3.png" alt="">
        <div class="aboutus-content2">
            <p> ĐAM MÊ DU HÀNH THỜI GIAN</p>
        <a href="">tìm đĩa theo thời kì</a>
        </div>
    </div>

    <div class="AboutUs-content-container2">
        <img src="/image/about-us-4.png" alt="">
        <div class="aboutus-content2">
            <p>BẠN CÓ ỔN KHÔNG?</p>
        <a href="">tìm đĩa theo tâm trạng</a>
        </div>
    </div>

</div>

<div class="follow-us">
            <p>Theo dõi Muse tại:</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/mitama.ukano.1/" target="_blank">
                    <img src="/image/Vector.png" alt="Facebook">
                </a>
                <a href="#" target="_blank">
                    <img src="/image/TikTok.png" alt="Instagram">
                </a>
                <a href="#" target="_blank">
                    <img src="/image/Subtract.png" alt="TikTok">
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    <img src="/image/ytb.png" alt="YouTube">
                </a>
            </div>
        </div>
</main>