@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img class="img-top" src="/image/musicera_top.png">
<main class="musicera-container">
    <div class="era-header">
        <div class="musicera-box-list">
            <h1>CHỌN THỜI ĐIỂM BẠN MUỐN ĐÁP XUỐNG:</h1>
            <a href="#1950s" class="musicera-box">50s</a>
            <a href="#1960s" class="musicera-box">60s</a>
            <a href="#1970s" class="musicera-box">70s</a>
            <a href="#1980s" class="musicera-box">80s</a>
            <a href="#1990s" class="musicera-box">90s</a>
            <a href="#2000s" class="musicera-box">00s</a>
        </div>
    </div>
    <div class="line"></div>
    <div class="era-box">
        <div id= "1950s" class="era-item">
            <div class="musicera-text">
                <h2>NHỮNG NĂM 50S</h2>
                <a href=#>XEM TẤT CẢ ></a>
            </div>
            <p>Thập kỷ 50 chứng kiến sự nổi lên của Rock 'n Roll, một phong cách âm nhạc mới mẻ khiến giới trẻ Mỹ và sau đó là toàn thế giới phát cuồng. Elvis Presley với những động tác múa hút hồn và Chuck Berry với guitar điện đã tạo nên một cuộc cách mạng. Âm nhạc của họ không chỉ là tiếng vang trong các hộp đêm mà còn là tiếng nói của một thế hệ, phản ánh sự nổi loạn và tự do cá nhân.</p>
            <a href=# class="musicera-img">
                <img src="/image/50s.png" alt="1950s">
            </a>
        </div>
        <div id= "1960s" class="era-item">
            <div class="musicera-text">
                <h2>NHỮNG NĂM 60S</h2>
                <a href=#>XEM TẤT CẢ ></a>
            </div>
            <p>Âm nhạc của thập niên 60 đại diện cho sự thay đổi văn hóa sâu sắc, với The Beatles và Bob Dylan đứng đầu làn sóng này. The Beatles không chỉ làm chao đảo nước Anh mà còn cả nước Mỹ và toàn cầu với những bản nhạc đột phá như "Sgt. Pepper's Lonely Hearts Club Band". Bob Dylan với "Blowin' in the Wind" và "The Times They Are a-Changin'" đã trở thành biểu tượng của phong trào đấu tranh dân quyền và chống chiến tranh. Âm nhạc của họ đã trở thành phần không thể tách rời của pop culture, tạo ra những biểu tượng văn hóa vượt thời gian.</p>
            <a href=#  class="musicera-img">
                <img src="/image/link-to-sau-image.png" alt="1960s">
            </a>
        </div>
        <div id= "1970s" class="era-item">
            <div class="musicera-text">
                <h2>NHỮNG NĂM 70S</h2>
                <a href=#>XEM TẤT CẢ ></a>
            </div>
            <p>Thập niên 70 là thời kỳ đa dạng của rock với nhiều thể loại như Progressive Rock, Hard Rock và Punk. Led Zeppelin và Pink Floyd đã nâng cao ranh giới âm nhạc với các album concept sâu sắc. Trong khi đó, âm nhạc Disco nổi lên như một làn sóng trong các club với Bee Gees và "Saturday Night Fever" trở thành hiện tượng. Âm nhạc của thập kỷ này không chỉ là âm nhạc mà còn là một phần quan trọng trong thời trang, điện ảnh và truyền hình, thể hiện rõ qua việc xuất hiện của các vũ trường và phong cách ăn mặc glam rock.</p>
            <a href=#  class="musicera-img">
                <img src="/image/70s.png" alt="1970s">
            </a>
        </div>  
        <div id= "1980s" class="era-item">
            <div class="musicera-text">
                <h2>NHỮNG NĂM 80S</h2>
                <a href=#>XEM TẤT CẢ ></a>
            </div>
            <p>Thập niên 80 được đánh dấu bởi sự lên ngôi của nhạc Pop và âm thanh điện tử với những ngôi sao như Michael Jackson và Madonna. Michael Jackson, với album "Thriller", đã phá vỡ mọi kỷ lục và trở thành "Ông hoàng nhạc Pop". Madonna, thông qua âm nhạc và hình ảnh của mình, đã thách thức các quan điểm truyền thống về giới và tình dục. Cả hai đã có ảnh hưởng lớn đến thời trang, vũ đạo và phương tiện truyền thông đại chúng.</p>
            <a href=#  class="musicera-img">
                <img src="/image/80s.png" alt="1980s">
            </a>
        </div>
                <div id= "1990s" class="era-item">
            <div class="musicera-text">
                <h2>NHỮNG NĂM 90S</h2>
                <a href=#>XEM TẤT CẢ ></a>
            </div>
            <p>Nhạc Alternative và Hip-Hop thống trị thập niên 90, với các nghệ sĩ như Nirvana và Tupac Shakur định hình lại bản đồ âm nhạc. Nirvana với "Smells Like Teen Spirit" đã trở thành biểu tượng của thế hệ X, trong khi Tupac đã sử dụng âm nhạc của mình để bàn luận về các vấn đề xã hội và bất công. Thập kỷ này cũng chứng kiến sự nổi lên của MTV, làm thay đổi cách thế giới tiêu thụ âm nhạc và video âm nhạc trở thành một yếu tố không thể thiếu trong pop culture.MTV, băng cát-xét và đĩa CD ra đời khiến cho đĩa than trở thành cuộc chơi của giá trị truyền thống. Số lượng đĩa than của thời kì này rất ít vì nhu cầu giảm, nhưng chính vì thế mà có giá trị sưu tầm rất cao. Hiphop, Electronic, Punk và Alternative Rock là những thể loại nhạc thịnh hành của thập niên.</p>
            <a href=#  class="musicera-img">
                <img src="/image/90s.png" alt="1990s">
            </a>
        </div>
                <div id= "2000s" class="era-item">
            <div class="musicera-text">
                <h2>NHỮNG NĂM 00s</h2>
                <a href=#>XEM TẤT CẢ ></a>
            </div>
            <p>Âm nhạc của thập niên 00 không thể tách rời khỏi sự phát triển của công nghệ số và Internet. Các nghệ sĩ như Beyoncé và Coldplay đã tận dụng các nền tảng mới để tiếp cận khán giả rộng rãi hơn. Eminem, với những ca khúc như "Lose Yourself", đã khám phá các chủ đề về cá nhân và xã hội, trong khi Beyoncé đã trở thành biểu tượng toàn cầu về sức mạnh và độc lập của phụ nữ. Âm nhạc thời kỳ này đã chuyển mình mạnh mẽ, không chỉ trong âm thanh mà còn trong cách thức phân phối và tiếp thị, làm thay đổi vĩnh viễn cảnh quan âm nhạc toàn cầu.</p>
            <a href=#  class="musicera-img">
                <img src="/image/2000s.png" alt="2000s">
            </a>
        </div>
    </div>
</div>
<div class="line"></div>
    <div class="AboutUs-content2">
    
    <div class="AboutUs-content-container2">
        <img src="/image/about-us-1.png" alt="">
        <div class="aboutus-content2">
            <p>BẠN THÍCH BẮT KỊP XU HƯỚNG</p>
        <a href="">khám phá đĩa mới</a>
        </div>
    </div>

    <div class="AboutUs-content-container2">
        <img src="/image/about-us-2.png" alt="">
        <div class="aboutus-content2">
            <p>BẠN LÀ NGƯỜI CHƠI HỆ FAN RUỘT</p>
        <a href="">tìm đĩa theo nghệ sĩ</a>
        </div>
    </div>

    <div class="AboutUs-content-container2">
        <img src="/image/about-us-3.png" alt="">
        <div class="aboutus-content2">
            <p> ĐAM MÊ DU HÀNH THỜI GIAN</p>
        <a href="">tìm đĩa theo thời kì</a>
        </div>
    </div>

    <div class="AboutUs-content-container2">
        <img src="/image/about-us-4.png" alt="">
        <div class="aboutus-content2">
            <p>BẠN CÓ ỔN KHÔNG?</p>
        <a href="">tìm đĩa theo tâm trạng</a>
        </div>
    </div>

</div>

<div class="follow-us">
            <p>Theo dõi Muse tại:</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/mitama.ukano.1/" target="_blank">
                    <img src="/image/Vector.png" alt="Facebook">
                </a>
                <a href="#" target="_blank">
                    <img src="/image/TikTok.png" alt="Instagram">
                </a>
                <a href="#" target="_blank">
                    <img src="/image/Subtract.png" alt="TikTok">
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    <img src="/image/ytb.png" alt="YouTube">
                </a>
            </div>
        </div>
</main>