@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img class="img-top" src="/image/MusicMood_top.png">
<main class="musicmood-container">
    <div class="mood-header">
        <div class="musicmood-box-list">
            <h1>HÔM NAY BẠN THẤY THẾ NÀO:</h1>
            <a href="#chill" class="musicmood-box">CHILL</a>
            <a href="#sau" class="musicmood-box">SẦU</a>
            <a href="#gat" class="musicmood-box">GẮT</a>
            <a href="#vui" class="musicmood-box">VUI</a>
        </div>
    </div>
    <div class="line"></div>
    <div class="mood-box">
        <div id= "chill" class="mood-item">
            <div class="musicmood-text">
                <h2>CHILL</h2>
                <a href=#>XEM TẤT CẢ ></a>
            </div>
            <p>Khi bạn cần một không gian thư giãn, tĩnh lặng, âm nhạc chính là người bạn đồng hành lý tưởng. Những giai điệu nhẹ nhàng, êm ái sẽ giúp bạn xua tan căng thẳng và tìm lại sự bình yên trong tâm hồn.</p>
            <a href=# class="musicmood-img">
                <img src="/image/link-to-chill-image.png" alt="CHILL">
            </a>
        </div>
        <div id= "sau" class="mood-item">
            <div class="musicmood-text">
                <h2>SẦU</h2>
                <a href=#>XEM TẤT CẢ ></a>
            </div>
            <p>Khi bạn cảm thấy buồn, âm nhạc có thể là một người bạn đồng hành tuyệt vời giúp bạn vượt qua cảm xúc này. Những giai điệu nhẹ nhàng, trầm lắng và đầy cảm xúc có thể giúp bạn thư giãn, suy ngẫm và tìm thấy sự đồng cảm trong những khoảnh khắc khó khăn.</p>
            <a href=#  class="musicmood-img">
                <img src="/image/link-to-sau-image.png" alt="SẦU">
            </a>
        </div>
        <div id= "gat" class="mood-item">
            <div class="musicmood-text">
                <h2>GẮT</h2>
                <a href=#>XEM TẤT CẢ ></a>
            </div>
            <p>Bạn cảm thấy khác thường trong người, nhưng cũng tràn đầy năng lượng đến nỗi muốn giải toả nó ra bằng mọi cách. Âm nhạc là một cách tuyệt vời để thư giãn và giải tỏa những cảm xúc tiêu cực này. Những giai điệu mạnh mẽ, sôi động hoặc đầy năng lượng có thể giúp bạn lấy lại bình tĩnh và cân bằng.</p>
            <a href=#  class="musicmood-img">
                <img src="/image/link-to-gat-image.png" alt="GẮT">
            </a>
        </div>  
        <div id= "vui" class="mood-item">
            <div class="musicmood-text">
                <h2>VUI</h2>
                <a href=#>XEM TẤT CẢ ></a>
            </div>
            <p>Khi bạn cảm thấy vui, âm nhạc có thể giúp bạn khuếch đại cảm xúc tích cực đó và mang lại năng lượng vui vẻ, sảng khoái. Những giai điệu vui nhộn, sôi động và đầy lạc quan sẽ khiến bạn cảm thấy hạnh phúc hơn, hòa mình vào không khí vui tươi và tràn đầy năng lượng.</p>
            <a href=#  class="musicmood-img">
                <img src="/image/link-to-vui-image.png" alt="VUI">
            </a>
        </div>
    </div>
</div>
<div class="line"></div>
    <div class="container-type">
        <a href=# class="box">
            <img src="/image/Tamtrang1.png" alt="Khám phá đĩa mới">
            <div class="content">
            <p>Bạn thích bắt kịp xu hướng</p>
            <h3>KHÁM PHÁ ĐĨA MỚI</h3>
            </div>
        </a>

        <a href=# class="box">
            <img src="/image/Tamtrang4.png" alt="Tìm đĩa theo nghệ sĩ">
            <div class="content">
            <p>Bạn là người chơi hệ fan ruột</p>
            <h3>TÌM ĐĨA THEO NGHỆ SĨ</h3>
            </div>
        </a>

        <a href=# class="box">
            <img src="/image/Tamtrang2.png" alt="Tìm đĩa theo thời kì">
            <div class="content">
            <p>Đam mê du hành thời gian?</p>
            <h3>TÌM ĐĨA THEO THỜI KÌ</h3>
            </div>
        </a>

        <a href=# class="box">
            <img src="/image/Tamtrang3.png" alt="Tìm đĩa theo tâm trạng">
            <div class="content">
            <p>Bạn có ổn không?</p>
            <h3>TÌM ĐĨA THEO TÂM TRẠNG</h3>
            </div>
        </a>
    </div>    
</main>