@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img class="img-top" src="/image/MusicGenre_top.png">
<main class="musicgenre-container">
    <h1 class="musicgenre-title">THỂ LOẠI NỔI BẬT NHẤT</h1>
    <div class="musicgenre-list">
            <a href=# class="musicgenre-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="musicgenre-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=# class="musicgenre-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="musicgenre-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
        </div>
        <div class="musicgenre-list">
            <a href=# class="musicgenre-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="musicgenre-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
            <a href=# class="musicgenre-card">
                <img  src="/image/spirited-away-main.png" alt="Bài viết liên quan 1">
                <div class="transparent"></div>
                <div class="musicgenre-card-title">Cách âm nhạc kể chuyện trong Spirited Away</div>
            </a>
        </div>
        <div class="line"></div>
    <h1 class="musicgenre-title">CÁC THỂ LOẠI KHÁC</h1>
    <div class="musicgenre-list">
        <div class="musicgenre-box-list">
            <a href=# class="musicgenre-box">LATIN</a>
            <a href=# class="musicgenre-box">NHẠC PHIM</a>
            <a href=# class="musicgenre-box">HIP-HOP</a>
            <a href=# class="musicgenre-box">CLASSICAL</a>
        </div>
    </div>
    <div class="musicgenre-list">
        <div href=# class="musicgenre-box-list">
            <a href=# class="musicgenre-box">COUNTRY/FOLK</a>
            <a href=# class="musicgenre-box">BLUES</a>
            <a href=# class="musicgenre-box">FUNK / FUSION</a>
            <a href=# class="musicgenre-box">VPOP</a>
        </div>
    </div>
    <div class="line"></div>
    <div class="container-type">
        <a href=# class="box">
            <img src="/image/Tamtrang1.png" alt="Khám phá đĩa mới">
            <div class="content">
            <p>Bạn thích bắt kịp xu hướng</p>
            <h3>KHÁM PHÁ ĐĨA MỚI</h3>
            </div>
        </a>

        <a href=# class="box">
            <img src="/image/Tamtrang4.png" alt="Tìm đĩa theo nghệ sĩ">
            <div class="content">
            <p>Bạn là người chơi hệ fan ruột</p>
            <h3>TÌM ĐĨA THEO NGHỆ SĨ</h3>
            </div>
        </a>

        <a href=# class="box">
            <img src="/image/Tamtrang2.png" alt="Tìm đĩa theo thời kì">
            <div class="content">
            <p>Đam mê du hành thời gian?</p>
            <h3>TÌM ĐĨA THEO THỜI KÌ</h3>
            </div>
        </a>

        <a href=# class="box">
            <img src="/image/Tamtrang3.png" alt="Tìm đĩa theo tâm trạng">
            <div class="content">
            <p>Bạn có ổn không?</p>
            <h3>TÌM ĐĨA THEO TÂM TRẠNG</h3>
            </div>
        </a>
    </div>    
</main>