@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <!-- Record player Header -->

    <section class="section-padding">

        <img class="record-img-top" src="/images/record-player-header.png">

    </section>

    <div class="container">
        <div class="row align-items-center">

            <div class="record-title">
                <h1>ĐẦU ĐĨA THAN THỊNH HÀNH</h1>

            </div>

        </div>
    </div>

    <!-- Trending Record Player -->
    <section class="section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Trending Record Player-->
                <div class="trend-record">

                    <div class="col-lg-6 col-12">
                        <img class="trendrecord-img" src="/images/record-player/trend-record1.png">
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="trendrecord-info">
                            <h3>Columbia GP-3</h3>
                            <p>Đầu đĩa này phù hợp cho: <br> • Người trẻ <br>• Người già <br>• Người trẻ thích chơi đồ
                                của người già</p>
                        </div>
                        <div class="trend-button">
                            <a href="" class="btn">XEM CHI TIẾT</a>
                            <button class="btn secondary">THÊM VÀO GIỎ</button>
                        </div>
                    </div>

                </div>

                <!-- Single Trending Record Player-->
                <div class="trend-record">

                    <div class="col-lg-6 col-12" style="text-align: right;">
                        <div class="trendrecord-info">
                            <h3>Audio Technica AT-LP60x</h3>
                            <p>Đầu đĩa này dành cho người: <br> • Nghe nhạc quá 180p/ngày <br>• Thích màu xe của Người
                                Dơi<br>• Cần tìm quà tặng bố vợ/chồng</p>
                            <div class="trend-button">
                                <a href="" class="btn">XEM CHI TIẾT</a>
                                <button class="btn secondary">THÊM VÀO GIỎ</button>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 col-12">
                        <img class="trendrecord-img" src="/images/record-player/trend-record2.png">

                    </div>

                </div>

            </div>
    </section>

    <div class="container">
        <div class="row">

            <div class="record-title">
                <h1>XEM THÊM CÁC ĐẦU ĐĨA KHÁC:</h1>

            </div>

        </div>
    </div>

    <!--  Record Player List -->

    <div class="record-container">
        <div class="record-player">
            <a href=""><img src="/images/record-player/record-player.png" alt=""></a>
            <h2>Audio Technica AT-LP60x</h2>
            <p>Audio Technica</p>
            <p class="price">5.850.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>

            </div>
        </div>

        <div class="record-player">
            <a href=""><img src="/images/record-player/record-player-2.png" alt=""></a>
            <h2>FiiO TT13</h2>
            <p>FiiO</p>
            <p class="price">6.500.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
            </div>
        </div>

        <div class="record-player">
            <a href="#"><img src="/images/record-player/record-player-3.png" alt="HELP EVER HURT NEVER"></a>
            <h2>Audio Technica AT-LPW30</h2>
            <p>Audio Technica</p>
            <p class="price">5.350.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
            </div>
        </div>

        <div class="record-player">
            <a href="#"><img src="/images/record-player/record-player-4.png" alt="Columbia GP-3"></a>
            <h2>Columbia GP-3</h2>
            <p>Columbia</p>
            <p class="price">4.500.000 đ</p>
            <div class="buttons">
                <span class="status">HẾT HÀNG</span>
            </div>
        </div>

        <div class="record-player">
            <a href="#"><img src="/images/record-player/record-player-3.png" alt="HELP EVER HURT NEVER"></a>
            <h2>Audio Technica AT-LPW30</h2>
            <p>Audio Technica</p>
            <p class="price">5.350.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
            </div>
        </div>

        <div class="record-player">
            <a href=""><img src="/images/record-player/record-player.png" alt=""></a>
            <h2>Audio Technica AT-LP60x</h2>
            <p>Audio Technica</p>
            <p class="price">5.850.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>

            </div>
        </div>

        <div class="record-player">
            <a href="#"><img src="/images/record-player/record-player-4.png" alt="Columbia GP-3"></a>
            <h2>Columbia GP-3</h2>
            <p>Columbia</p>
            <p class="price">4.500.000 đ</p>
            <div class="buttons">
                <span class="status">HẾT HÀNG</span>
            </div>
        </div>

        <div class="record-player">
            <a href="#"><img src="/images/record-player/record-player-4.png" alt="Columbia GP-3"></a>
            <h2>Columbia GP-3</h2>
            <p>Columbia</p>
            <p class="price">4.500.000 đ</p>
            <div class="buttons">
                <span class="status">HẾT HÀNG</span>
            </div>
        </div>

        <div class="record-player">
            <a href="#"><img src="/images/record-player/record-player-3.png" alt="HELP EVER HURT NEVER"></a>
            <h2>Audio Technica AT-LPW30</h2>
            <p>Audio Technica</p>
            <p class="price">5.350.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
            </div>
        </div>

        <div class="record-player">
            <a href="#"><img src="/images/record-player/record-player-2.png" alt=""></a>
            <h2>FiiO TT13</h2>
            <p>FiiO</p>
            <p class="price">6.500.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
            </div>
        </div>

        <div class="record-player">
            <a href="#"><img src="/images/record-player/record-player-3.png" alt="HELP EVER HURT NEVER"></a>
            <h2>Audio Technica AT-LPW30</h2>
            <p>Audio Technica</p>
            <p class="price">5.350.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
            </div>
        </div>

        <div class="record-player">
            <a href="#"><img src="/images/record-player/record-player-2.png" alt=""></a>
            <h2>FiiO TT13</h2>
            <p>FiiO</p>
            <p class="price">6.500.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
            </div>
        </div>


    </div>

</main>