@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="main-content">
        <div class="profile-header">
            <img src="/image/mck.png" alt="Profile" class="profile-pic">
            <div class="profile-text">
                <h1>RENO</h1>
                <p>Âm nhạc là tiếng nói của tâm hồn , nơi cảm xúc được vẽ nên bằng âm thanh.</p>
                <p>Đó là cách tôi kể chuyện, sống thật và kết nối với thế giới.</p>
            </div>
        </div>

        <div class="header">
            <button class="header-button">Yêu thích</button>
        </div>
        <div class="product-container">
        <div class="product">
            <a href="#"><img src="/image/fangs.png" alt="DaiMongQuyLy"></a>
            <h2>大梦归离(Fangs of Fortune) OST郭敬明大梦归离</h2>
            <p>Liu Yu Ning</p>
            <p class="price">1.115.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        <div class="product">
            <a href="#"><img src="/image/flvr.png" alt="PhongZinZin"></a>
            <h2>FLVR FLVR FLVR FLVR FLVR FLVR FLVR</h2>
            <p>Tlinh</p>
            <p class="price">450.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        <div class="product">
            <a href="#"><img src="/image/f9.png" alt="SeeUAgain"></a>
            <h2>Fast & Furious 9 (Original Soundtrack)</h2>
            <p>Vin Dầu Nhớt</p>
            <p class="price">1.400.000 đ</p>
            <div class="buttons">
                <span class="preorder">PREORDER</span>
                <span class="size">M</span>
            </div>
        </div>

        <div class="product">
            <a href="#"><img src="/image/Stray_Kids_-_Giant.png" alt="Hyujin"></a>
            <h2>Japan 2nd Album [GIANT] (Japanese ver. / Regular Edition)</h2>
            <p>Stray Kids</p>
            <p class="price">9.999.999 đ</p>
            <div class="buttons">
                <span class="preorder1">HẾT HÀNG</span>
                <span class="size">M</span>
            </div>
        </div>
        </div>
   
</main>