@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.section-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.accessory-title{
    justify-content: center;
    text-align: center;
    display: flex;
}

.accessory-title h1{
    margin-left: 30px;
    display: flex;
    border: none;
    padding-top: 30px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.73px;
    text-align: center;
}

/*---------------------------------------
  ACCESSORY DETAIL               
-----------------------------------------*/
  
.accessory-thumb {
    width: 300;
    height: 300;
    background: #fff;
    position: relative;
    transition: all 0.5s ease-out;
  }
  
  .accessory-image {
    width: auto;
    transition: all 0.5s ease-out;
  }

  .accessory-secondthumb {
    display: flex;
    background: none;
    position: relative;
    transition: all 0.5s ease-out;
  }
  
  .accessory-small {
    width: 160px;
    height: 160px;
    transition: all 0.5s ease-out;
    margin: 80px 20px 20px 0;
  }

  .accessory-thumb:hover .accessory-image {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  }
  
  .accessory-secondthumb .accessory-small:hover {
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  }

  .accessory-info {
    display: flex;
    padding: 0 20px 10px 20px;
  }

  .accessory-info h2{
    font-family: "Inter", sans-serif;
    font-weight: 800;
  }

  .accessory-info h3{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 30px;
  }

  .accessory-info h4{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 30px;
  }

  .accessory-info h5{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #676767;
  }

  .accessory-cart-thumb {
    display: flex;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .accessory-cart-thumb .quantity{
    display: flex;
    align-items: center;
    width: max-content;
    height: 50px;
    margin-right: 120px;
    box-shadow: 5px 5px 0px 0px #00000040;
  }
  .accessory-cart-thumb .quantity i{
    font-size: 30px;
    color: #BCBCBC;
  }

  .accessory-cart-thumb .heart-btn{
    background: #FFFFFF;
    font-size: 18px;
    border: #00000040;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 5px 5px 0px 0px #00000040;

  }

  .accessory-cart-thumb .cart-btn{
    height: 50px;
    width: 100%;
    background-color: #FFF27E;
    font-size: 18px;
    color: #000;
    font-weight: 800;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 5px 5px 0px 0px #00000040;

  }

  .accessory-cart-thumb .cart-btn:hover{
    transition: all 0.3s ease-out;
    background-color: #ffe815;
  }

  .accessory-underinfo{
    margin-left: 20px;
    padding-top: 20px;
    border-top: 2px solid #000000;

  }

  .accessory-underinfo h5{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;
    
  }

  .accessory-underinfo p{
    padding-top: 10px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 24.2px;
    text-align: left;
    
  }

/*---------------------------------------
  ACCESSORY WARNING               
-----------------------------------------*/
.accessory-warn{
    padding: 30px 60px;
    background: #F1E8D8;
    width: 100%;
    display: inline-block;
}

.accessory-warn h4{
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: center;
    margin-bottom: 30px;
    
}

.accessory-warn h5{
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 24.2px;
    text-align: left;
    
}
.accessory-warn span{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;
    
}

/*---------------------------------------
  ACCESSORY DESCRIPTION               
-----------------------------------------*/

.accessory-description{
    border-top: 1px solid #000000;
    background-color: #fff;
}

.accessory-description h2{
    font-family: Inter;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.73px;
    text-align: center;
    margin-bottom: 40px;
  }
  .accessory-description p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 24.2px;
    text-align: left;
    padding-left: 40px;
    margin-bottom: 30px;
  }

/*---------------------------------------
  OTHER ACCESSORY LIST             
-----------------------------------------*/
.accessory-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .accessory {
    text-align: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .accessory img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .accessory img:hover {
    transform: scale(1.05);
  }
  
  .accessory h2 {
    font-size: 20px;
    margin: 10px 0 5px 0;
    font-weight: bold;
  }
  
  .accessory p {
    font-size: 24px;
    font-weight: bolder;
    color: #000000;
  }
  
  .accessory .price {
    font-family: Inter;
    font-size: 24px;
    font-weight: bolder;
    margin: 10px 0;
  }
  
  .accessory .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    /* Ensures uniform height for details */
  }
  
  .accessory .buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .accessory .buttons span {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    /* border-radius: none; */
    font-weight: bold;
  }
  
  .accessory .buttons .preorder {
    background-color: #FFF9C4;
    color: #D3A700;
  }

  .accessory .buttons .available {
    color: #4BAF88;
    background: #DFF2DE;

  }
  
  .accessory .buttons .size {
    background-color: #F2F4F8;
    color: #676767;
  }