.content{
width: 80%; 
margin: 20px auto;  
max-width: 1200px;
padding: 20px;

}

.content h1{
    width: 100%;
    justify-content: center;
    padding: 20px;
    display: flex;
    font-size: 32px;
    font-weight: bolder;
}

.quanlysanpham{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    height: 2px;
    width: 100%;
    background-color: black;
}

.container-trangchu-admin{
    padding: 25px;
}

.quanlythongtin{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quanlyblog{
    padding: 0%;
    margin: 0%;
}

.quanlybaiviet{
    padding-top: 20px;
    margin: 0%;
}