html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Nguyễn Tài Thu */

.trang-ch-cha-ng-nhp .overlap {
  position: absolute;
  width: 1920px;
  height: 258px;
  top: 4494px;
  left: 0;
  background-color: #161616;
}

.trang-ch-cha-ng-nhp .group {
  position: relative;
  width: 1152px;
  height: 172px;
  top: 43px;
  left: 385px;
}

.trang-ch-cha-ng-nhp .group-2 {
  position: absolute;
  width: 250px;
  height: 103px;
  top: 0;
  left: 0;
}

.trang-ch-cha-ng-nhp .rectangle {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 3px;
  left: 0;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .group-3 {
  position: absolute;
  width: 144px;
  height: 83px;
  top: 0;
  left: 110px;
}

.trang-ch-cha-ng-nhp .text-wrapper {
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .p {
  position: absolute;
  width: 140px;
  height: 36px;
  top: 47px;
  left: 0;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .text-wrapper-2 {
  position: absolute;
  height: 18px;
  top: 154px;
  left: 0;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .group-4 {
  position: absolute;
  width: 256px;
  height: 95px;
  top: 0;
  left: 300px;
}

.trang-ch-cha-ng-nhp .text-wrapper-3 {
  position: absolute;
  height: 18px;
  top: 47px;
  left: 0;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-4 {
  position: absolute;
  height: 18px;
  top: 77px;
  left: 0;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .vector {
  position: absolute;
  width: 251px;
  height: 1px;
  top: 34px;
  left: 0;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .group-5 {
  position: absolute;
  width: 252px;
  height: 125px;
  top: 0;
  left: 600px;
}

.trang-ch-cha-ng-nhp .group-6 {
  position: absolute;
  width: 77px;
  height: 78px;
  top: 47px;
  left: 0;
}

.trang-ch-cha-ng-nhp .text-wrapper-5 {
  position: absolute;
  height: 18px;
  top: 0;
  left: 0;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-6 {
  position: absolute;
  height: 18px;
  top: 30px;
  left: 1px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-7 {
  position: absolute;
  height: 18px;
  top: 60px;
  left: 1px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .group-7 {
  position: absolute;
  width: 252px;
  height: 127px;
  top: 0;
  left: 900px;
}

.trang-ch-cha-ng-nhp .group-8 {
  position: absolute;
  width: 239px;
  height: 80px;
  top: 47px;
  left: 0;
}

.trang-ch-cha-ng-nhp .group-9 {
  position: absolute;
  width: 241px;
  height: 20px;
  top: 0;
  left: 0;
}

.trang-ch-cha-ng-nhp .text-wrapper-8 {
  position: absolute;
  top: 2px;
  left: 29px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.trang-ch-cha-ng-nhp .group-10 {
  position: absolute;
  width: 241px;
  height: 18px;
  top: 32px;
  left: 0;
}

.trang-ch-cha-ng-nhp .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 29px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .mail-send-envelope {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 0;
  left: 0;
}

.trang-ch-cha-ng-nhp .group-11 {
  position: absolute;
  width: 129px;
  height: 20px;
  top: 60px;
  left: 0;
}

.trang-ch-cha-ng-nhp .overlap-group {
  position: absolute;
  width: 1920px;
  height: 785px;
  top: 216px;
  left: 0;
}

.trang-ch-cha-ng-nhp .image {
  position: absolute;
  width: 1920px;
  height: 526px;
  top: 0;
  left: 0;
}

.trang-ch-cha-ng-nhp .rectangle-2 {
  position: absolute;
  width: 960px;
  height: 267px;
  top: 518px;
  left: 0;
  background-color: #f6f2ec;
}

.trang-ch-cha-ng-nhp .image-2 {
  position: absolute;
  width: 250px;
  height: 267px;
  top: 518px;
  left: 568px;
}

.trang-ch-cha-ng-nhp .rectangle-3 {
  position: absolute;
  width: 961px;
  height: 267px;
  top: 518px;
  left: 959px;
  background-color: #f1e8d8;
}

.trang-ch-cha-ng-nhp .image-3 {
  position: absolute;
  width: 249px;
  height: 267px;
  top: 518px;
  left: 1109px;
}

.trang-ch-cha-ng-nhp .u-a {
  position: absolute;
  height: 24px;
  top: 548px;
  left: 827px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #161616;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .kh-m-ph-ngay {
  position: absolute;
  height: 18px;
  top: 582px;
  left: 809px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #161616;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .PH-KI-n {
  position: absolute;
  height: 24px;
  top: 548px;
  left: 984px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #161616;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .kh-m-ph-ngay-2 {
  position: absolute;
  height: 18px;
  top: 582px;
  left: 984px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #161616;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .image-4 {
  position: absolute;
  width: 1150px;
  height: 288px;
  top: 4130px;
  left: 385px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .ch-a-bi-t-n-n-mua-g-wrapper {
  position: absolute;
  width: 550px;
  height: 288px;
  top: 3715px;
  left: 385px;
  background-color: #d9d9d9;
}

.trang-ch-cha-ng-nhp .ch-a-bi-t-n-n-mua-g {
  position: absolute;
  width: 500px;
  height: 58px;
  top: 209px;
  left: 24px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .div-wrapper {
  position: absolute;
  width: 550px;
  height: 288px;
  top: 3715px;
  left: 985px;
  background-color: #d9d9d9;
}

.trang-ch-cha-ng-nhp .text-wrapper-10 {
  position: absolute;
  width: 500px;
  height: 29px;
  top: 238px;
  left: 24px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 1007px;
  top: 2277px;
  left: -1px;
}

.trang-ch-cha-ng-nhp .rectangle-4 {
  position: absolute;
  width: 150px;
  height: 202px;
  top: 130px;
  left: 385px;
  background-color: #d9d9d9;
}

.trang-ch-cha-ng-nhp .rectangle-5 {
  position: absolute;
  width: 1920px;
  height: 1007px;
  top: 0;
  left: 0;
  background-color: #f6f1ec;
}

.trang-ch-cha-ng-nhp .rectangle-6 {
  position: absolute;
  width: 150px;
  height: 52px;
  top: 280px;
  left: 585px;
  background-color: #ead8bd;
}

.trang-ch-cha-ng-nhp .rectangle-7 {
  position: absolute;
  width: 150px;
  height: 52px;
  top: 280px;
  left: 386px;
  background-color: #ead8bd;
}

.trang-ch-cha-ng-nhp .rectangle-8 {
  position: absolute;
  width: 250px;
  height: 79px;
  top: 742px;
  left: 686px;
  background-color: #ead8bd;
}

.trang-ch-cha-ng-nhp .rectangle-9 {
  position: absolute;
  width: 250px;
  height: 79px;
  top: 742px;
  left: 1286px;
  background-color: #e9d7bc;
}

.trang-ch-cha-ng-nhp .rectangle-10 {
  position: absolute;
  width: 250px;
  height: 79px;
  top: 742px;
  left: 386px;
  background-color: #ead8bd;
}

.trang-ch-cha-ng-nhp .rectangle-11 {
  position: absolute;
  width: 250px;
  height: 80px;
  top: 741px;
  left: 986px;
  background-color: #ead8bd;
}

.trang-ch-cha-ng-nhp .rectangle-12 {
  position: absolute;
  width: 150px;
  height: 52px;
  top: 280px;
  left: 785px;
  background-color: #ead8bd;
}

.trang-ch-cha-ng-nhp .rectangle-13 {
  position: absolute;
  width: 150px;
  height: 52px;
  top: 280px;
  left: 985px;
  background-color: #ead8bd;
}

.trang-ch-cha-ng-nhp .rectangle-14 {
  position: absolute;
  width: 150px;
  height: 52px;
  top: 280px;
  left: 1185px;
  background-color: #ead8bd;
}

.trang-ch-cha-ng-nhp .rectangle-15 {
  position: absolute;
  width: 150px;
  height: 52px;
  top: 280px;
  left: 1385px;
  background-color: #ead8bd;
}

.trang-ch-cha-ng-nhp .image-5 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 130px;
  left: 385px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .image-6 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 130px;
  left: 585px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .image-7 {
  position: absolute;
  width: 250px;
  height: 230px;
  top: 511px;
  left: 686px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .rectangle-16 {
  position: absolute;
  width: 250px;
  height: 230px;
  top: 511px;
  left: 1286px;
  background-color: #959595;
}

.trang-ch-cha-ng-nhp .image-8 {
  position: absolute;
  width: 250px;
  height: 230px;
  top: 511px;
  left: 386px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .image-9 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 130px;
  left: 785px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .image-10 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 130px;
  left: 985px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .image-11 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 130px;
  left: 1185px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .image-12 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 130px;
  left: 1385px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .text-wrapper-11 {
  position: absolute;
  height: 48px;
  top: 30px;
  left: 867px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #161616;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-12 {
  position: absolute;
  height: 48px;
  top: 411px;
  left: 876px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #161616;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-13 {
  position: absolute;
  height: 24px;
  top: 293px;
  left: 440px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-14 {
  position: absolute;
  height: 24px;
  top: 293px;
  left: 639px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-15 {
  position: absolute;
  height: 24px;
  top: 293px;
  left: 831px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-16 {
  position: absolute;
  height: 24px;
  top: 293px;
  left: 1033px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-17 {
  position: absolute;
  height: 24px;
  top: 293px;
  left: 1234px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-18 {
  position: absolute;
  height: 24px;
  top: 293px;
  left: 1396px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .image-13 {
  position: absolute;
  width: 250px;
  height: 230px;
  top: 511px;
  left: 1286px;
}

.trang-ch-cha-ng-nhp .text-wrapper-19 {
  position: absolute;
  height: 29px;
  top: 766px;
  left: 418px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .text-wrapper-20 {
  position: absolute;
  height: 29px;
  top: 766px;
  left: 775px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .text-wrapper-21 {
  position: absolute;
  height: 29px;
  top: 766px;
  left: 1044px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .text-wrapper-22 {
  height: 29px;
  top: 766px;
  left: 1341px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .image-14 {
  position: absolute;
  width: 250px;
  height: 230px;
  top: 511px;
  left: 986px;
}

.trang-ch-cha-ng-nhp .group-12 {
  position: absolute;
  width: 424px;
  height: 42px;
  top: 908px;
  left: 749px;
}

.trang-ch-cha-ng-nhp .group-13 {
  position: absolute;
  width: 240px;
  height: 40px;
  top: 2px;
  left: 0;
}

.trang-ch-cha-ng-nhp .text-wrapper-23 {
  top: 8px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #161616;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .vector-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 198px;
}

.trang-ch-cha-ng-nhp .subtract {
  position: absolute;
  width: 40px;
  height: 41px;
  top: 0;
  left: 323px;
}

.trang-ch-cha-ng-nhp .tik-tok {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2px;
  left: 261px;
}

.trang-ch-cha-ng-nhp .vector-3 {
  position: absolute;
  width: 40px;
  height: 27px;
  top: 6px;
  left: 384px;
}

.trang-ch-cha-ng-nhp .text-wrapper-24 {
  position: absolute;
  height: 48px;
  top: 1065px;
  left: 385px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #161616;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-25 {
  position: absolute;
  height: 48px;
  top: 3315px;
  left: 385px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #161616;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-26 {
  position: absolute;
  height: 48px;
  top: 4055px;
  left: 385px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #161616;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .overlap-group-wrapper {
  position: absolute;
  width: 182px;
  height: 47px;
  top: 2189px;
  left: 870px;
}

.trang-ch-cha-ng-nhp .overlap-group-2 {
  position: relative;
  width: 180px;
  height: 47px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #161616;
}

.trang-ch-cha-ng-nhp .text-wrapper-27 {
  position: absolute;
  top: 10px;
  left: 33px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #161616;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .overlap-3 {
  position: relative;
  width: 1920px;
  height: 166px;
  background-color: #161616;
}

.trang-ch-cha-ng-nhp .rectangle-17 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 33px;
  left: 385px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .overlap-group-3 {
  position: absolute;
  width: 650px;
  height: 37px;
  top: 64px;
  left: 635px;
  background-color: #f0f0f0;
  border-radius: 30px;
}

.trang-ch-cha-ng-nhp .magnifying-glass {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 6px;
  left: 616px;
}

.trang-ch-cha-ng-nhp .text-wrapper-28 {
  position: absolute;
  height: 18px;
  top: 10px;
  left: 19px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #959595;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .hearts-symbol {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 73px;
  left: 1460px;
}

.trang-ch-cha-ng-nhp .text-wrapper-29 {
  position: absolute;
  height: 18px;
  top: 74px;
  left: 1334px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .shopping-cart {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 73px;
  left: 1515px;
}

.trang-ch-cha-ng-nhp .navbar-wrapper {
  position: absolute;
  width: 1920px;
  height: 50px;
  top: 166px;
  left: 0;
  background-image: url(./img/group-50.png);
  background-size: 100% 100%;
}

.trang-ch-cha-ng-nhp .navbar {
  position: relative;
  width: 677px;
  height: 18px;
  top: 16px;
  left: 385px;
}

.trang-ch-cha-ng-nhp .text-wrapper-30 {
  position: absolute;
  height: 18px;
  top: 0;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-31 {
  position: absolute;
  height: 18px;
  top: 0;
  left: 244px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-32 {
  position: absolute;
  height: 18px;
  top: 0;
  left: 386px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-33 {
  position: absolute;
  height: 18px;
  top: 0;
  left: 487px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-34 {
  position: absolute;
  height: 18px;
  top: 0;
  left: 626px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .group-14 {
  position: absolute;
  width: 96px;
  height: 18px;
  top: 0;
  left: 120px;
}

.trang-ch-cha-ng-nhp .vector-4 {
  position: absolute;
  width: 12px;
  height: 7px;
  top: 6px;
  left: 83px;
}

.trang-ch-cha-ng-nhp .overlap-4 {
  position: absolute;
  width: 550px;
  height: 123px;
  top: 3395px;
  left: 385px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #161616;
}

.trang-ch-cha-ng-nhp .text-wrapper-35 {
  position: absolute;
  top: 19px;
  left: 113px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #161616;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .text-wrapper-36 {
  position: absolute;
  top: 54px;
  left: 113px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #161616;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .shipping-box-box {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 20px;
  left: 18px;
}

.trang-ch-cha-ng-nhp .overlap-5 {
  position: absolute;
  width: 550px;
  height: 123px;
  top: 3555px;
  left: 385px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #161616;
}

.trang-ch-cha-ng-nhp .text-wrapper-37 {
  position: absolute;
  top: 59px;
  left: 113px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #161616;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .gramophone-music {
  position: absolute;
  width: 80px;
  height: 81px;
  top: 16px;
  left: 18px;
}

.trang-ch-cha-ng-nhp .overlap-6 {
  position: absolute;
  width: 550px;
  height: 123px;
  top: 3395px;
  left: 985px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #161616;
}

.trang-ch-cha-ng-nhp .transfer-van-van {
  position: absolute;
  width: 79px;
  height: 64px;
  top: 28px;
  left: 19px;
}

.trang-ch-cha-ng-nhp .overlap-7 {
  position: absolute;
  width: 550px;
  height: 123px;
  top: 3555px;
  left: 985px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #161616;
}

.trang-ch-cha-ng-nhp .chat-two-bubbles {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 21px;
  left: 19px;
}

.trang-ch-cha-ng-nhp .rectangle-18 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 1137px;
  left: 385px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .overlap-8 {
  position: absolute;
  width: 250px;
  height: 297px;
  top: 1654px;
  left: 385px;
}

.trang-ch-cha-ng-nhp .img-2 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .rectangle-19 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
}

.trang-ch-cha-ng-nhp .text-wrapper-38 {
  position: absolute;
  width: 250px;
  top: 249px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .rectangle-20 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 10027px;
  left: 12052px;
}

.trang-ch-cha-ng-nhp .overlap-9 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 1654px;
  left: 685px;
  background-color: #d9d9d9;
  background-image: url(./img/ado-zanmu-vinyl-black-720x-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.trang-ch-cha-ng-nhp .overlap-10 {
  position: absolute;
  width: 252px;
  height: 487px;
  top: 1654px;
  left: 985px;
}

.trang-ch-cha-ng-nhp .group-15 {
  position: absolute;
  width: 252px;
  height: 487px;
  top: 0;
  left: 0;
}

.trang-ch-cha-ng-nhp .overlap-11 {
  position: relative;
  width: 250px;
  height: 487px;
}

.trang-ch-cha-ng-nhp .text-wrapper-39 {
  position: absolute;
  width: 250px;
  top: 250px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .group-16 {
  height: 487px;
  top: 0;
  position: absolute;
  width: 250px;
  left: 0;
}

.trang-ch-cha-ng-nhp .group-17 {
  position: absolute;
  width: 252px;
  height: 364px;
  top: 0;
  left: 0;
}

.trang-ch-cha-ng-nhp .text-wrapper-40 {
  position: absolute;
  width: 250px;
  top: 342px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .group-18 {
  position: absolute;
  width: 252px;
  height: 29px;
  top: 392px;
  left: 0;
}

.trang-ch-cha-ng-nhp .text-wrapper-41 {
  position: absolute;
  width: 250px;
  top: 0;
  left: 0;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .group-19 {
  top: 450px;
  position: absolute;
  width: 157px;
  height: 37px;
  left: 47px;
}

.trang-ch-cha-ng-nhp .div-2 {
  position: relative;
  height: 37px;
}

.trang-ch-cha-ng-nhp .group-20 {
  position: absolute;
  width: 16px;
  height: 18px;
  top: 10px;
  left: 85px;
}

.trang-ch-cha-ng-nhp .text-wrapper-42 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .group-21 {
  position: absolute;
  width: 157px;
  height: 37px;
  top: 0;
  left: 0;
}

.trang-ch-cha-ng-nhp .group-22 {
  position: absolute;
  width: 108px;
  height: 37px;
  top: 0;
  left: 0;
}

.trang-ch-cha-ng-nhp .overlap-group-4 {
  position: relative;
  width: 106px;
  height: 37px;
  background-color: #fff9c4;
}

.trang-ch-cha-ng-nhp .text-wrapper-43 {
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #d3a700;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .group-23 {
  position: absolute;
  width: 39px;
  height: 37px;
  top: 0;
  left: 120px;
}

.trang-ch-cha-ng-nhp .overlap-12 {
  position: relative;
  width: 37px;
  height: 37px;
  background-color: #f2f4f8;
}

.trang-ch-cha-ng-nhp .text-wrapper-44 {
  color: #676767;
  position: absolute;
  top: 10px;
  left: 12px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .rectangle-21 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 1654px;
  left: 1285px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .group-24 {
  position: absolute;
  width: 252px;
  height: 236px;
  top: 1387px;
  left: 385px;
}

.trang-ch-cha-ng-nhp .text-wrapper-45 {
  position: absolute;
  width: 250px;
  top: 0;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ch-cha-ng-nhp .group-25 {
  height: 144px;
  top: 92px;
  position: absolute;
  width: 250px;
  left: 0;
}

.trang-ch-cha-ng-nhp .group-26 {
  position: absolute;
  width: 252px;
  height: 22px;
  top: 0;
  left: 0;
}

.trang-ch-cha-ng-nhp .text-wrapper-46 {
  position: absolute;
  width: 250px;
  top: 0;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .group-27 {
  position: absolute;
  width: 252px;
  height: 29px;
  top: 50px;
  left: 0;
}

.trang-ch-cha-ng-nhp .div-3 {
  position: absolute;
  width: 157px;
  height: 37px;
  top: 107px;
  left: 47px;
}

.trang-ch-cha-ng-nhp .group-28 {
  position: absolute;
  width: 252px;
  height: 236px;
  top: 1387px;
  left: 685px;
}

.trang-ch-cha-ng-nhp .overlap-13 {
  position: absolute;
  width: 250px;
  height: 171px;
  top: 0;
  left: 0;
}

.trang-ch-cha-ng-nhp .group-29 {
  position: absolute;
  width: 250px;
  height: 79px;
  top: 92px;
  left: 0;
}

.trang-ch-cha-ng-nhp .group-30 {
  position: absolute;
  width: 157px;
  height: 37px;
  top: 199px;
  left: 47px;
}

.trang-ch-cha-ng-nhp .group-31 {
  position: absolute;
  width: 252px;
  height: 236px;
  top: 1387px;
  left: 985px;
}

.trang-ch-cha-ng-nhp .group-32 {
  position: absolute;
  width: 252px;
  height: 237px;
  top: 1387px;
  left: 1286px;
}

.trang-ch-cha-ng-nhp .group-33 {
  top: 200px;
  position: absolute;
  width: 157px;
  height: 37px;
  left: 47px;
}

.trang-ch-cha-ng-nhp .group-34 {
  position: absolute;
  width: 252px;
  height: 237px;
  top: 1904px;
  left: 1286px;
}

.trang-ch-cha-ng-nhp .group-35 {
  position: absolute;
  width: 252px;
  height: 236px;
  top: 1904px;
  left: 685px;
}

.trang-ch-cha-ng-nhp .group-36 {
  position: absolute;
  width: 250px;
  height: 144px;
  top: 1996px;
  left: 385px;
}

.trang-ch-cha-ng-nhp .overlap-group-5 {
  position: relative;
  width: 106px;
  height: 37px;
  background-color: #d9d9d9;
}

.trang-ch-cha-ng-nhp .text-wrapper-47 {
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .overlap-14 {
  position: relative;
  width: 37px;
  height: 37px;
  background-color: #d9d9d9;
}

.trang-ch-cha-ng-nhp .text-wrapper-48 {
  color: #000000;
  position: absolute;
  top: 10px;
  left: 12px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ch-cha-ng-nhp .image-15 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 1137px;
  left: 685px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .image-16 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 1137px;
  left: 985px;
  object-fit: cover;
}

.trang-ch-cha-ng-nhp .image-17 {
  position: absolute;
  width: 250px;
  height: 244px;
  top: 1137px;
  left: 1286px;
}
