@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    color: #fff;
}

/* video nền*/
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* Container chính */
.login-container {
    background-color: #ffffff0b;
    width: 400px;
    height: 600px;
    padding: 40px;
    border-radius: 47px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative;
    overflow: hidden;
}
.line {
    width: 100%; /* Chiều dài đường kẻ */
    height: 1px; /* Độ dày đường kẻ */
    background-color: rgb(255, 255, 255); /* Màu sắc đường kẻ */
    margin: 20px auto; /* Canh giữa với khoảng cách */
}
ul {
    list-style-type: none; /* Loại bỏ dấu mặc định của list */
    text-align: left;
    margin-left: -10px;
}

ul li {
    position: relative;
    margin: 3px 0; /* Khoảng cách giữa các dòng */
    font-size: 10px;

}

ul li::before {
    content: "○"; /* Biểu tượng vòng tròn */
    position: absolute;
    left: -20px; /* Đẩy biểu tượng sang trái */
    font-size: 10px;
    color: #fff; /* Màu biểu tượng trùng với màu chữ */
}
.split-line {
    width: 100%; /* Chiều dài đường line */
    height: 3px; /* Độ dày đường line */
    background: linear-gradient(to right, #b3a9a9 50%, #f0f0f0 50%);
    border-radius: 2.5px; /* Bo góc nếu cần */
    margin-top: 20px;
    margin-bottom: 40px;
}
.logo img {
    width: 40px;
    margin-bottom: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
    font-weight: bolder;
}

/* Form input */
label {
    display: block;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 600;
}

input {
    width: 100%;
    height: 38px;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 29px;
    outline: none;
    font-size: 10px;
    margin-bottom: 10px;
}

button {
    margin-top: 15px;
    background-color: #8C8A8A;
    color: #fff;
    border: none;
    border-radius: 113px;
    cursor: pointer;
    width: 40%;
    height: 30px;
    font-size: 10px;
    font-weight: 600;
}

a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
}

.social-login {
    margin-top: 20px;
}

.social-login button {
    margin: 10px 0;
    background-color: #ffffff;
    border: 2px solid #161616;
    border-radius: 46px;
    color: #000000;
    cursor: pointer;
    width: 60%;
    height: 35px;
}

.facebook img {
    width: 15px;
    margin-right: 10px;
}

.google img {
    width: 15px;
    margin-right: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
}

.form-hidden {
    display: none;
}
