@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.section-padding {
    padding-top: 4rem;
    padding-bottom: 0rem !important;
}

.product-container {
    padding-top: 20px;
}

.vinyl-img-top {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.vinyl-title {
    justify-content: center;
    text-align: center;
    display: flex;
}

.vinyl-title h1 {
    margin-left: 30px;
    display: flex;
    border: none;
    padding-top: 30px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.73px;
    text-align: center;
}

.vinyl-title a {
    margin-left: 30px;
    display: flex;
    border: none;
    padding-top: 30px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.73px;
    text-align: center;
    color: #000000 !important;
}

.vinyl-header {
    position: relative;
    background-image: url('/images/vinyl-header.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.vinyl-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.vinyl-header .overlay {
    padding: 20px;
    width: 100%;
    position: relative;
    z-index: 2;
    width: 100%;
    justify-items: center;
}

.vinyl-header h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #f9e547;
}

.vinyl-header p {
    margin: 10px 0 20px;
    font-size: 18px;
    line-height: 1.5;
}

.vinyl-header nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.vinyl-header nav a:hover {
    text-decoration: underline;
}


/*---------------------------------------
  FILTER               
-----------------------------------------*/

.vinyl-filter {
    display: inline-block;
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
}

.vinyl-filter .single-filter {
    border: 2px solid #000000;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
    transition: all 0.3s ease-out;

}

.vinyl-filter .single-filter h3 {
    color: #000000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.15px;
    text-align: left;
}

.vinyl-filter .single-filter:hover {
    transform: translateY(-10px);
}

/*---------------------------------------
  FILTER DROPBOX               
-----------------------------------------*/

.filter-dropdown {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.single-filter-dropdown {
    left: 70px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.single-filter-dropdown h4 {
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.15px;
    text-align: left;
    margin-right: 30px;

}

.single-filter-dropdown .filter-select {
    border: 1px solid #CFCFCF;
    background-color: #fff;
    padding: 10px 20px;
    width: auto;
    height: 40px;

}