@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.main-content {
    margin: 0 auto;
    /* max-width: 1200px; */
    padding: 0;
    background: url("/image/piano.png") ;
  height: 120rem;
  background-size: cover;
  background-repeat: no-repeat;

}

/* Header Section */
.profile-header {
    background: linear-gradient(to bottom, #555, #222);
    /* text-align: center; */
    color: white;
    padding: 20px;
  width: 100%;
  height: 200px;
  display: flex; 
    align-items: center; 
    justify-content: left;
    padding-left: 45vh; 
}

.profile-header .profile-pic {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    margin-right: 20px; 
    object-fit: cover;
}

.profile-text {
    text-align: left; 
    margin-left: 40px;
}

.profile-text h1 {
    font-size: 40px;
    margin: 0 0 20px 0; /* Tạo khoảng cách giữa h1 và p */
    font-weight: bolder;
}

.profile-text p {
    font-size: 16px;
    margin: 0;
    display: block; 
    word-wrap: break-word; 
    white-space: normal; 
    margin-bottom: 3px; 
}
/* form wish list */
.product-container {
    padding-top: 50px;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.product {
    text-align: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.05);
}

.product h2 {
    font-size: 20px;
    margin: 10px 0 5px 0;
    font-weight: bold;
}

.product p {
    font-size: 24px;
    font-weight: bolder;
    color: #000000;
}

.product .price {
    font-family: Inter;
    font-size: 24px;
    font-weight: bolder;
    margin: 10px 0;
}

.product .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    /* Ensures uniform height for details */
}

.product .buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.product .buttons span {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    /* border-radius: none; */
    font-weight: bold;
}

.product .buttons .preorder {
    background-color: #FFF9C4;
    color: #D3A700;
}
.product .buttons .preorder1 {
    background-color: #FFCEC4;
    color: #C7150C;
}

.product .buttons .size {
    background-color: #F2F4F8;
    color: #676767;
}
